# Capstone 1: Data Wrangling Part 2:
Calculating average stats leading into games, to start creating features for a predictive model.

In [1]:
%matplotlib inline
import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from datetime import datetime
from scipy.stats import stats
import math

In [2]:
infile = open('../PickledFiles/gamelogs2', 'rb')
gamelogs = pickle.load(infile)
infile.close

infile = open('../PickledFiles/pitchlogs', 'rb')
pitchlogs = pickle.load(infile)
infile.close

In [3]:
def melt_gamelogs(other_id_vars):
    """Function to melt gamelogs so can perform calculation for each team"""
    melted = pd.melt(gamelogs, id_vars= ['Date','HomeWin','DoubleHeader'] + other_id_vars, value_vars = ['HomeTeam','VisitingTeam'], value_name = 'Team')
    melted = melted.sort_values('Team')
    return melted

def merge_twice(df1, df2, df1_home, df1_visit, df2col):
    """Function to merge df twice-once for info about home team, then for info about away team"""
    merged = pd.merge(df1,df2, left_on = ['Date', 'DoubleHeader',df1_home], right_on = ['Date','DoubleHeader', df2col])
    merged = pd.merge(merged,df2, left_on = ['Date', 'DoubleHeader',df1_visit], right_on = ['Date', 'DoubleHeader',df2col], suffixes = ['_H','_V'])
    return merged

def relavent_team_stat(df, home_col, visit_col):
    """Function to get the stat of either the home team or the away team """
    stats = []
    for i, row in df.iterrows():
        if row['variable'] == 'HomeTeam':
            stat = row[home_col]
        else:
            stat = row[visit_col]
        stats.append(stat)
    return stats

def calculate_teamavg(game):
    """Function used to calculate average statistics for team."""
    avg = game.expanding(3).mean().shift()
    return avg

def calculate_pitchavg(game):
    """Function used to calculate averages for starting pitchers.  Since there is less data for starting pitchers """
    avg = game.expanding().mean().shift()
    return avg

def fill_with_EOPS_data(grouped_df, df, col, col_to_groupby, new_col, min_games):
    """Fill NA with data from end of prior season."""
    EOS_col = 'EOS' + col
    df[EOS_col] = grouped_df[col].apply(lambda x: x.expanding(min_games).mean())
    df[EOS_col] = df.groupby(col_to_groupby)[EOS_col].fillna(method='ffill')
    df[new_col] = df[new_col].fillna(df[EOS_col])
    df.drop(labels=EOS_col, axis=1, inplace=True)
    
    #want to leave the first time a pitcher starts as NaN
    #for unique in df[col_to_groupby].unique():
        #idx = df[col_to_groupby].find(unique)
        #df.loc[idx,col] = np.nan
    
    return df

In [4]:
pitchlogs.head()

,Game Date,Pitcher,Opponent,GS,CG,GF,W,L,Sv,Sho,...,H,R,ER,HR,BB,K,HBP,BK,WP,PitchAbbrev
40498,2009-04-05,Brett Myers,Vs. ATL,1,0,0,0,1,0,0,...,8,4,4,3,1,6,0,0,0,Bre Myers
24300,2009-04-05,Derek Lowe,At PHI,1,0,0,1,0,0,0,...,2,0,0,0,0,4,0,0,0,Der Lowe
0,2009-04-06,Joe Saunders,Vs. OAK,1,0,0,1,0,0,0,...,3,0,0,0,2,2,1,0,0,Joe Saunders
42118,2009-04-06,Paul Maholm,At SLN,1,0,0,0,0,0,0,...,7,2,1,0,1,1,1,0,1,Pau Maholm
38878,2009-04-06,Johan Santana,At CIN,1,0,0,1,0,0,0,...,3,1,1,0,4,7,0,0,0,Joh Santana

## Calculate Averages for Starting Pitchers

In [5]:
pitchlogs.columns

Index(['Game Date', 'Pitcher', 'Opponent', 'GS', 'CG', 'GF', 'W', 'L', 'Sv',
       'Sho', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP',
       'PitchAbbrev'],
      dtype='object')

In [6]:
cols = ['GS', 'CG', 'GF', 'W', 'L', 'Sv','Sho']
for col in cols:
    pitchlogs[col] = pd.to_numeric(pitchlogs[col])
pitchlogs[cols].dtypes

GS     int64
CG     int64
GF     int64
W      int64
L      int64
Sv     int64
Sho    int64
dtype: object

In [7]:
pitchlogs[(pitchlogs.GS != 1) | (pitchlogs.Sv != 0)]

Empty DataFrame
Columns: [Game Date, Pitcher, Opponent, GS, CG, GF, W, L, Sv, Sho, IP, H, R, ER, HR, BB, K, HBP, BK, WP, PitchAbbrev]
Index: []

[0 rows x 21 columns]

In [8]:
#These columns are irrelevant because the starting pitcher always will always have 1 in the 'GS' (game started) and O
#  in the Sv ('Game Saved') column, so we can drop them
pitchlogs = pitchlogs.drop(['GS', 'Sv'], axis=1)
pitchlogs.columns

Index(['Game Date', 'Pitcher', 'Opponent', 'CG', 'GF', 'W', 'L', 'Sho', 'IP',
       'H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP', 'PitchAbbrev'],
      dtype='object')

In [9]:
#group by pitcher and season so we can calculate stats per season for individual starting pitchers
bypitcher = pitchlogs.groupby(['Pitcher', pitchlogs['Game Date'].dt.year])

#pitchlogs.reset_index(inplace=True)
for col in ['CG', 'GF', 'W', 'L', 'Sho']:
    new_col = 'pct'+col
    pitchlogs[new_col] = bypitcher[col].apply(calculate_pitchavg)
    fill_with_EOPS_data(bypitcher, pitchlogs, col,'Pitcher',new_col, 2)
    #fill_with_EOPS_data(grouped_df, df, col, col_to_groupby, new_col)

    #pitchlogs[new_col] = pitchlogs.groupby('Pitcher')[new_col].fillna(method='ffill')
    
for col in ['IP','H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP']:
    new_col = 'Avg'+col
    pitchlogs[new_col] = bypitcher[col].apply(calculate_pitchavg)
    #use previous season's end of season average for new season
    fill_with_EOPS_data(bypitcher, pitchlogs, col, 'Pitcher', new_col, 2)
    #EOS_col = 'EOS' + col
    #pitchlogs[EOS_col] = bypitcher[col].apply(lambda x: x.expanding(2).mean())
    #pitchlogs[EOS_col] = pitchlogs.groupby('Pitcher')[EOS_col].fillna(method='ffill')
    #pitchlogs[new_col] = pitchlogs[new_col].fillna(pitchlogs[EOS_col])
    #pitchlogs = pitchlogs.drop(EOS_col, axis=1)

In [10]:
#want to leave the first time a pitcher starts as NaN
pitchlogs = pitchlogs.sort_values('Game Date')
pitchlogs = pitchlogs.reset_index()
avg_cols = [col for col in pitchlogs.columns if col.startswith(('pct','Avg'))]
unique_starters =  pitchlogs['Pitcher'].unique()
for starter in unique_starters.flatten():
    idx = list(pitchlogs['Pitcher']).index(starter)
    pitchlogs.loc[idx,avg_cols] = np.nan

In [11]:
pitchlogs

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,...,AvgIP,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP
0,40498,2009-04-05,Brett Myers,Vs. ATL,0,0,0,1,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24300,2009-04-05,Derek Lowe,At PHI,0,0,1,0,0,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25919,2009-04-06,Carlos Zambrano,At HOU,0,0,1,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45356,2009-04-06,Jake Peavy,Vs. LAN,0,0,0,1,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,43736,2009-04-06,Adam Wainwright,Vs. PIT,0,0,0,0,0,5.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6480,2009-04-06,Cliff Lee,At TEX,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8098,2009-04-06,Justin Verlander,At TOR,0,0,0,1,0,3.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11337,2009-04-06,Francisco Liriano,Vs. SEA,0,0,0,1,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14578,2009-04-06,Dallas Braden,At LAA,0,0,0,1,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16198,2009-04-06,Felix Hernandez,At MIN,0,0,1,0,0,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,19439,2009-04-06,Kevin Millwood,Vs. CLE,0,0,1,0,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,21060,2009-04-06,Roy Halladay,Vs. DET,0,0,1,0,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12958,2009-04-06,CC Sabathia,At BAL,0,0,0,1,0,4.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,27539,2009-04-06,Aaron Harang,Vs. NYN,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,22680,2009-04-06,Brandon Webb,Vs. COL,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,42118,2009-04-06,Paul Maholm,At SLN,0,0,0,0,0,6.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38878,2009-04-06,Johan Santana,At CIN,0,0,1,0,0,5.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,37259,2009-04-06,John Lannan,At FLA,0,0,0,1,0,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,34018,2009-04-06,Hiroki Kuroda,At SDN,0,0,1,0,0,5.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,2009-04-06,Joe Saunders,Vs. OAK,0,0,1,0,0,6.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,30780,2009-04-06,Ricky Nolasco,Vs. WSH,0,0,1,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1620,2009-04-06,Jeremy Guthrie,Vs. NYA,0,0,1,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,29159,2009-04-06,Aaron Cook,At ARI,0,0,0,0,0,2.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,32398,2009-04-06,Roy Oswalt,Vs. CHN,0,0,0,1,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24301,2009-04-07,Jair Jurrjens,At PHI,0,0,1,0,0,5.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,37260,2009-04-07,Scott Olsen,At FLA,0,0,0,1,0,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,46976,2009-04-07,Tim Lincecum,Vs. MIL,0,0,0,0,0,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,14579,2009-04-07,Trevor Cahill,At LAA,0,0,0,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,16199,2009-04-07,Erik Bedard,At MIN,0,0,0,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,35638,2009-04-07,Jeff Suppan,At SFN,0,0,0,1,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48566,29158,2018-09-30,Sal Romano,Vs. PIT,0,0,0,0,0,5.000000,...,5.263889,5.750000,3.375000,3.250000,0.916667,2.000000,3.875000,0.125000,0.000000,0.166667
48567,48595,2018-09-30,Andrew Suarez,Vs. LAN,0,0,0,1,0,2.333333,...,5.642857,5.607143,2.821429,2.642857,0.821429,1.535714,4.642857,0.071429,0.000000,0.107143
48568,30778,2018-09-30,Tyler Anderson,Vs. WSH,0,0,1,0,0,7.666667,...,5.430108,5.193548,3.032258,2.870968,0.967742,1.806452,5.129032,0.064516,0.064516,0.290323
48569,32397,2018-09-30,Sandy Alcantara,At NYN,0,0,0,1,0,7.000000,...,5.400000,4.200000,2.400000,2.400000,0.600000,4.200000,4.000000,0.400000,0.000000,0.000000
48570,12957,2018-09-30,Zack Littell,Vs. CHA,0,0,0,0,0,4.000000,...,3.000000,6.000000,6.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000
48571,34017,2018-09-30,Charlie Morton,At BAL,0,0,0,0,0,3.000000,...,5.655172,4.448276,2.172414,2.000000,0.620690,2.172414,6.793103,0.551724,0.000000,0.103448
48572,46975,2018-09-30,Joey Lucchesi,Vs. ARI,0,0,0,0,0,6.000000,...,4.960000,4.840000,2.440000,2.280000,0.840000,1.720000,5.480000,0.160000,0.000000,0.160000
48573,35636,2018-09-30,Rich Hill,At SFN,0,0,1,0,0,7.000000,...,5.420290,4.608696,2.478261,2.347826,0.869565,1.695652,6.130435,0.347826,0.043478,0.086957
48574,21059,2018-09-30,Yovani Gallardo,At SEA,0,0,0,1,0,4.333333,...,5.156863,5.470588,3.352941,3.294118,0.764706,2.470588,3.117647,0.117647,0.000000,0.294118
48575,14577,2018-09-30,Luis Cessa,At BOS,0,0,0,1,0,0.333333,...,4.416667,4.750000,2.500000,2.500000,0.750000,1.750000,3.250000,0.000000,0.000000,0.500000
48576,25918,2018-09-30,Kevin Gausman,At PHI,0,0,0,1,0,5.000000,...,5.955556,6.133333,2.733333,2.600000,0.833333,1.566667,4.733333,0.233333,0.000000,0.200000
48577,8097,2018-09-30,Carlos Carrasco,At KCA,0,0,1,0,0,5.000000,...,6.264368,5.724138,2.551724,2.344828,0.724138,1.275862,7.413793,0.206897,0.000000,0.310345
48578,16197,2018-09-30,Brett Anderson,At LAA,0,0,0,0,0,3.000000,...,4.833333,5.375000,2.500000,2.375000,0.562500,0.812500,2.625000,0.125000,0.000000,0.187500
48579,3239,2018-09-30,Jimmy Yacabonis,Vs. HOU,0,0,0,0,0,4.000000,...,4.055556,4.666667,2.666667,2.500000,0.833333,1.500000,3.500000,0.333333,0.000000,0.500000
48580,43735,2018-09-30,Clay Holmes,At CIN,0,0,0,0,0,4.000000,...,3.666667,5.666667,3.666667,3.666667,0.333333,3.000000,3.000000,0.000000,0.000000,0.333333
48581,40497,2018-09-30,Noah Syndergaard,Vs. MIA,1,0,1,0,1,9.000000,...,6.055556,5.958333,2.291667,2.166667,0.375000,1.625000,6.208333,0.291667,0.000000,0.083333
48582,4859,2018-09-30,Rick Porcello,Vs. NYA,0,0,0,0,0,2.000000,...,5.916667,5.531250,3.031250,2.843750,0.843750,1.468750,5.875000,0.500000,0.031250,0.093750
48583,22679,2018-09-30,Sam Gaviglio,At TBA,0,0,0,1,0,5.666667,...,4.942029,5.739130,3.086957,2.913043,0.913043,1.478261,4.173913,0.130435,0.086957,0.217391
48584,1619,2018-09-30,Matthew Shoemaker,Vs. OAK,0,0,0,0,0,3.000000,...,4.666667,4.500000,2.500000,2.500000,0.333333,1.333333,5.000000,0.166667,0.000000,0.333333
48585,38877,2018-09-30,Erick Fedde,At COL,0,0,0,1,0,4.000000,...,4.633333,5.000000,2.700000,2.700000,0.600000,2.100000,4.300000,0.000000,0.100000,0.000000
48586,45355,2018-09-30,Jack Flaherty,At CHN,0,0,0,1,0,2.666667,...,5.493827,3.851852,2.037037,1.925926,0.740741,2.074074,6.629630,0.407407,0.000000,0.148148
48587,37257,2018-09-30,Gio Gonzalez,Vs. DET,0,0,1,0,0,5.000000,...,5.354839,5.290323,2.709677,2.580645,0.548387,2.548387,4.709677,0.064516,0.000000,0.129032
48588,42117,2018-09-30,Ranger Suarez,Vs. ATL,0,0,0,0,0,3.000000,...,4.500000,8.500000,6.000000,4.000000,1.500000,1.500000,2.500000,0.000000,0.500000,0.000000
48589,24299,2018-09-30,Robbie Ray,At SDN,0,0,0,0,0,4.000000,...,5.202899,4.000000,2.304348,2.260870,0.782609,2.869565,6.826087,0.217391,0.000000,0.217391
48590,11336,2018-09-30,Eric Skoglund,Vs. CLE,0,0,0,1,0,5.000000,...,5.250000,5.083333,3.250000,3.250000,0.916667,1.333333,3.750000,0.416667,0.000000,0.166667
48591,6479,2018-09-30,Dylan Covey,At MIN,0,0,0,1,0,6.000000,...,5.183333,5.650000,3.650000,3.100000,0.500000,2.300000,4.050000,0.100000,0.000000,0.250000
48592,37258,2018-10-01,Jhoulys Chacin,At CHN,0,0,0,0,0,5.666667,...,5.500000,4.470588,2.411765,2.176471,0.500000,2.029412,4.500000,0.323529,0.000000,0.147059
48593,30779,2018-10-01,German Marquez,At LAN,0,0,0,1,0,4.666667,...,5.979167,5.437500,2.687500,2.500000,0.687500,1.718750,6.906250,0.250000,0.000000,0.250000
48594,27538,2018-10-01,Jose Quintana,Vs. MIL,0,0,0,0,0,5.000000,...,5.462366,5.032258,2.580645,2.483871,0.806452,2.193548,4.967742,0.096774,0.000000,0.096774
48595,35637,2018-10-01,Walker Buehler,Vs. COL,0,0,1,0,0,6.666667,...,5.893939,4.045455,1.727273,1.590909,0.500000,1.500000,6.727273,0.227273,0.000000,0.181818

In [12]:
pitchlogs['AvgERA'] = pitchlogs['AvgER'] * 9 / pitchlogs['AvgIP']

In [13]:
#check that it worked
RP = pitchlogs.loc[pitchlogs.Pitcher == 'Rick Porcello']
RP[['Game Date', 'ER','IP', 'AvgER','AvgIP', 'AvgERA']].tail(36).head(10)

       Game Date  ER        IP     AvgER     AvgIP    AvgERA
43322 2017-09-16   0  7.333333  3.200000  6.211111  4.636852
43455 2017-09-22   4  4.000000  3.096774  6.247312  4.461274
43604 2017-09-27   5  5.666667  3.125000  6.177083  4.553120
43796 2018-03-31   1  5.333333  3.181818  6.161616  4.647541
43951 2018-04-07   3  7.333333  1.000000  5.333333  1.687500
44100 2018-04-12   0  7.000000  2.000000  6.333333  2.842105
44233 2018-04-18   0  6.000000  1.333333  6.555556  1.830508
44387 2018-04-24   3  7.000000  1.000000  6.416667  1.402597
44528 2018-04-29   3  7.666667  1.400000  6.533333  1.928571
44681 2018-05-04   1  6.000000  1.666667  6.722222  2.231405

In [14]:
RP[['Game Date', 'ER','IP', 'AvgER','AvgIP', 'AvgERA']]

       Game Date  ER        IP     AvgER     AvgIP    AvgERA
80    2009-04-09   4  5.000000       NaN       NaN       NaN
349   2009-04-19   1  7.000000  4.000000  5.000000  7.200000
462   2009-04-24   4  6.000000  2.500000  6.000000  3.750000
602   2009-04-29   6  3.666667  3.000000  6.000000  4.500000
770   2009-05-05   0  7.000000  3.750000  5.416667  6.230769
917   2009-05-10   1  5.000000  3.000000  5.733333  4.709302
1074  2009-05-16   1  6.000000  2.666667  5.611111  4.277228
1240  2009-05-22   1  6.000000  2.428571  5.666667  3.857143
1381  2009-05-27   2  6.000000  2.250000  5.708333  3.547445
1551  2009-06-02   3  4.333333  2.222222  5.740741  3.483871
1676  2009-06-07   4  5.000000  2.300000  5.600000  3.696429
1816  2009-06-12   1  7.000000  2.454545  5.545455  3.983607
1965  2009-06-18   1  5.666667  2.333333  5.666667  3.705882
2116  2009-06-24   2  5.000000  2.230769  5.666667  3.542986
2267  2009-06-29   5  4.333333  2.214286  5.619048  3.546610
2425  2009-07-05   4  4.000000  2.400000  5.533333  3.903614
2769  2009-07-21   5  5.000000  2.500000  5.437500  4.137931
2931  2009-07-26   5  5.333333  2.647059  5.411765  4.402174
3089  2009-08-01   1  8.000000  2.777778  5.407407  4.623288
3216  2009-08-06   2  5.666667  2.684211  5.543860  4.357595
3359  2009-08-11   1  1.000000  2.650000  5.550000  4.297297
3532  2009-08-18   1  5.666667  2.571429  5.333333  4.339286
3702  2009-08-23   5  5.333333  2.500000  5.348485  4.206799
3839  2009-08-28   1  5.666667  2.608696  5.347826  4.390244
3965  2009-09-02   2  7.000000  2.541667  5.361111  4.266839
4132  2009-09-08   4  6.000000  2.520000  5.426667  4.179361
4271  2009-09-13   2  6.000000  2.576923  5.448718  4.256471
4392  2009-09-18   3  6.000000  2.555556  5.469136  4.205418
4537  2009-09-23   1  5.000000  2.571429  5.488095  4.216920
4711  2009-09-29   1  6.333333  2.517241  5.471264  4.140756
...          ...  ..       ...       ...       ...       ...
44233 2018-04-18   0  6.000000  1.333333  6.555556  1.830508
44387 2018-04-24   3  7.000000  1.000000  6.416667  1.402597
44528 2018-04-29   3  7.666667  1.400000  6.533333  1.928571
44681 2018-05-04   1  6.000000  1.666667  6.722222  2.231405
44793 2018-05-09   5  5.333333  1.571429  6.619048  2.136691
44927 2018-05-14   5  6.000000  2.000000  6.458333  2.787097
45055 2018-05-19   3  6.000000  2.333333  6.407407  3.277457
45195 2018-05-24   4  3.666667  2.400000  6.366667  3.392670
45326 2018-05-29   2  6.666667  2.545455  6.121212  3.742574
45478 2018-06-03   2  6.333333  2.500000  6.166667  3.648649
45663 2018-06-10   2  6.000000  2.461538  6.179487  3.585062
45786 2018-06-15   4  6.000000  2.428571  6.166667  3.544402
45951 2018-06-21   0  7.000000  2.533333  6.155556  3.703971
46120 2018-06-27   4  5.666667  2.375000  6.208333  3.442953
46244 2018-07-02   2  6.000000  2.470588  6.176471  3.600000
46396 2018-07-08   3  7.000000  2.444444  6.166667  3.567568
46528 2018-07-13   8  2.000000  2.473684  6.210526  3.584746
46727 2018-07-23   0  6.000000  2.750000  6.000000  4.125000
46868 2018-07-28   4  5.666667  2.619048  6.000000  3.928571
47011 2018-08-03   1  9.000000  2.681818  5.984848  4.032911
47177 2018-08-09   7  4.000000  2.608696  6.115942  3.838863
47305 2018-08-14   1  7.000000  2.791667  6.027778  4.168203
47484 2018-08-20   5  7.000000  2.720000  6.066667  4.035165
47602 2018-08-25   3  5.000000  2.807692  6.102564  4.140756
47744 2018-08-30   4  5.000000  2.814815  6.061728  4.179226
47894 2018-09-04   1  5.000000  2.857143  6.023810  4.268775
48011 2018-09-09   4  5.666667  2.793103  5.988506  4.197697
48172 2018-09-15   3  5.000000  2.833333  5.977778  4.265799
48350 2018-09-22   3  5.000000  2.838710  5.946237  4.296564
48582 2018-09-30   0  2.000000  2.843750  5.916667  4.325704

[307 rows x 6 columns]

In [15]:
RP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 80 to 48582
Data columns (total 36 columns):
index          307 non-null int64
Game Date      307 non-null datetime64[ns]
Pitcher        307 non-null object
Opponent       307 non-null object
CG             307 non-null int64
GF             307 non-null int64
W              307 non-null int64
L              307 non-null int64
Sho            307 non-null int64
IP             307 non-null float64
H              307 non-null int64
R              307 non-null int64
ER             307 non-null int64
HR             307 non-null int64
BB             307 non-null int64
K              307 non-null int64
HBP            307 non-null int64
BK             307 non-null int64
WP             307 non-null int64
PitchAbbrev    307 non-null object
pctCG          306 non-null float64
pctGF          306 non-null float64
pctW           306 non-null float64
pctL           306 non-null float64
pctSho         306 non-null float64
AvgIP          306 non-null float64
AvgH           306 non-null float64
AvgR           306 non-null float64
AvgER          306 non-null float64
AvgHR          306 non-null float64
AvgBB          306 non-null float64
AvgK           306 non-null float64
AvgHBP         306 non-null float64
AvgBK          306 non-null float64
AvgWP          306 non-null float64
AvgERA         306 non-null float64
dtypes: datetime64[ns](1), float64(17), int64(15), object(3)
memory usage: 88.7+ KB

Each pitcher should have one null row for their first start...

In [16]:
num_pitchers = pitchlogs['Pitcher'].nunique()
num_pitchers

946

In [17]:
pitchlogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48596 entries, 0 to 48595
Data columns (total 36 columns):
index          48596 non-null int64
Game Date      48596 non-null datetime64[ns]
Pitcher        48596 non-null object
Opponent       48596 non-null object
CG             48596 non-null int64
GF             48596 non-null int64
W              48596 non-null int64
L              48596 non-null int64
Sho            48596 non-null int64
IP             48596 non-null float64
H              48596 non-null int64
R              48596 non-null int64
ER             48596 non-null int64
HR             48596 non-null int64
BB             48596 non-null int64
K              48596 non-null int64
HBP            48596 non-null int64
BK             48596 non-null int64
WP             48596 non-null int64
PitchAbbrev    48596 non-null object
pctCG          47590 non-null float64
pctGF          47590 non-null float64
pctW           47590 non-null float64
pctL           47590 non-null float64
pctSho         47590 non-null float64
AvgIP          47590 non-null float64
AvgH           47590 non-null float64
AvgR           47590 non-null float64
AvgER          47590 non-null float64
AvgHR          47590 non-null float64
AvgBB          47590 non-null float64
AvgK           47590 non-null float64
AvgHBP         47590 non-null float64
AvgBK          47590 non-null float64
AvgWP          47590 non-null float64
AvgERA         47589 non-null float64
dtypes: datetime64[ns](1), float64(17), int64(15), object(3)
memory usage: 13.3+ MB

In [18]:
nulls = pitchlogs[pitchlogs['AvgIP'].isnull()]
print(nulls.shape)

(1006, 36)

In [19]:
nulls['Pitcher'].nunique()

946

In [20]:
dupes = nulls[nulls.duplicated(subset = 'Pitcher', keep = False)]
dupes.sort_values('Pitcher')

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,...,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA
37729,38515,2016-08-22,A.J. Cole,At BAL,0,0,0,1,0,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29762,38250,2015-04-28,A.J. Cole,At ATL,0,0,0,0,0,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32265,15654,2015-08-01,Aaron Brooks,Vs. CLE,0,0,1,0,0,7.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25941,10581,2014-05-31,Aaron Brooks,At TOR,0,0,0,1,0,0.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23221,13731,2013-08-21,Adam Warren,Vs. TOR,0,0,0,0,0,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16874,13519,2012-06-29,Adam Warren,Vs. CHA,0,0,0,0,0,2.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36056,17399,2016-06-18,Adrian Sampson,At BOS,0,0,0,1,0,4.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48072,21042,2018-09-11,Adrian Sampson,At LAA,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48179,21045,2018-09-15,Alexander Claudio,At SDN,0,0,0,0,0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39658,20762,2017-05-02,Alexander Claudio,At HOU,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2544,13042,2009-07-09,Alfredo Aceves,At MIN,0,0,0,0,0,3.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11077,3608,2011-05-21,Alfredo Aceves,Vs. CHN,0,0,0,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9830,26246,2011-04-05,Andrew Cashner,Vs. ARI,0,0,0,0,0,5.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16327,45901,2012-06-09,Andrew Cashner,At MIL,0,0,0,0,0,2.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42982,9529,2017-09-04,Artie Lewicki,Vs. KCA,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45516,9616,2018-06-05,Artie Lewicki,At BOS,0,0,0,1,0,3.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31946,4305,2015-07-21,Brian Johnson,At HOU,0,0,0,1,0,4.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39265,4549,2017-04-18,Brian Johnson,At TOR,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32266,14032,2015-08-01,Bryan Mitchell,At CHA,0,0,0,1,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28695,13913,2014-09-12,Bryan Mitchell,At BAL,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26374,44615,2014-06-16,Carlos Martinez,Vs. NYN,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22840,44497,2013-08-08,Carlos Martinez,Vs. LAN,0,0,0,1,0,4.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,14684,2009-08-05,Chad Reineke,Vs. TEX,0,0,0,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11341,27918,2011-05-31,Chad Reineke,Vs. MIL,0,0,0,1,0,6.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24898,5690,2014-04-22,Charles Leesman,At DET,0,0,0,1,0,2.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22852,5621,2013-08-09,Charles Leesman,Vs. MIN,0,0,0,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29227,47950,2015-04-08,Chris Heston,At ARI,0,0,1,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29148,47947,2014-09-28,Chris Heston,Vs. SDN,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3072,4963,2009-07-31,D.J. Carrasco,Vs. NYA,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10114,39215,2011-04-16,D.J. Carrasco,At ATL,0,0,0,1,0,3.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,5191,2011-04-09,Philip Humber,Vs. TBA,0,0,1,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19773,42776,2013-04-14,Phillip Irwin,Vs. CIN,0,0,0,0,0,4.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26993,20339,2014-07-08,Phillip Irwin,Vs. HOU,0,0,0,1,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,11341,2009-04-10,R.A. Dickey,At CHA,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6061,39080,2010-05-19,R.A. Dickey,At WSH,0,0,0,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22508,41249,2013-07-27,Raul Valdes,At DET,0,0,0,1,0,3.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16803,41060,2012-06-27,Raul Valdes,Vs. PIT,0,0,0,1,0,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9674,39200,2010-10-02,Raul Valdes,Vs. WSH,0,0,0,0,0,5.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38785,7771,2016-09-30,Ryan Merritt,At KCA,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40887,7838,2017-06-17,Ryan Merritt,At MIN,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38647,40166,2016-09-24,Sean Gilmartin,Vs. PHI,0,0,0,1,0,0.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33923,40008,2015-10-01,Sean Gilmartin,At PHI,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33230,15686,2015-09-06,Sean Nolin,Vs. SEA,0,0,0,1,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20852,21755,2013-05-24,Sean Nolin,Vs. BAL,0,0,0,1,0,1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19563,44388,2013-04-06,Shelby Miller,At SFN,0,0,1,0,0,5.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19434,44383,2012-10-03,Shelby Miller,Vs. CIN,0,0,0,0,0,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30261,4249,2015-05-17,Steven Wright,At SEA,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29085,4209,2014-09-26,Steven Wright,Vs. NYA,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22798,4002,2013-08-06,Steven Wright,At HOU,0,0,0,0,0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26788,2512,2014-07-01,T.J. McFarland,Vs. TEX,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21785,2348,2013-06-28,T.J. McFarland,Vs. NYA,0,0,0,0,0,2.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42562,24099,2017-08-20,T.J. McFarland,At MIN,0,0,0,1,0,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22040,21795,2013-07-07,Todd Redmond,Vs. MIN,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18169,28145,2012-08-18,Todd Redmond,Vs. CHN,0,0,0,1,0,3.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20524,31465,2013-05-12,Tom Koehler,At LAN,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19426,31427,2012-10-03,Tom Koehler,Vs. NYN,0,0,0,1,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39810,43444,2017-05-08,Trevor Williams,At LAN,0,0,0,1,0,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38451,43398,2016-09-17,Trevor Williams,At CIN,0,0,0,0,0,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32064,35087,2015-07-25,Zach Lee,At NYN,0,0,0,1,0,4.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39116,46661,2017-04-12,Zach Lee,At COL,0,0,1,0,0,5.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The reason for the extra nulls seems to be that certain pitchers only made one start in a year and did not start again until a later season.  Most of these people are typically relief pitchers, who start occasionally.

In [21]:
#dupes = nulls[nulls.duplicated(subset = 'Pitcher', keep = 'first')]
dupes.shape

(116, 36)

In [22]:
dupes['Pitcher'].nunique()

56

In [23]:
116-56+946

1006

Why are there two more null ERAs than there are other nulls?

In [24]:
pitchlogs = pitchlogs.replace(np.inf,np.nan)

In [25]:
nullERA = pitchlogs[(pitchlogs['AvgIP'].isnull() == False) & (pitchlogs['AvgERA'].isnull())]
nullERA

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,...,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA
1122,36,2009-05-18,John Lackey,At SEA,0,0,1,0,0,5.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
13806,39336,2011-09-01,Miguel Batista,Vs. FLA,0,0,1,0,0,6.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN

In [26]:
JL = pitchlogs[pitchlogs['Pitcher']=='John Lackey']

JL.head(10)

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,...,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA
1085,34,2009-05-16,John Lackey,At TEX,0,0,0,0,0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,36,2009-05-18,John Lackey,At SEA,0,0,1,0,0,5.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,NaN
1252,41,2009-05-23,John Lackey,At LAN,0,0,0,0,0,7.000000,...,3.500000,3.000000,2.500000,0.500000,0.000000,1.500000,0.500000,0.0,0.000000,9.000000
1413,46,2009-05-29,John Lackey,Vs. SEA,0,0,0,1,0,7.333333,...,4.666667,3.000000,2.666667,0.333333,0.333333,2.666667,1.333333,0.0,0.333333,6.000000
1578,51,2009-06-04,John Lackey,At TOR,0,0,0,0,0,7.000000,...,6.000000,3.500000,3.250000,0.500000,0.750000,2.500000,1.000000,0.0,0.250000,6.051724
1752,56,2009-06-10,John Lackey,At TBA,0,0,0,1,0,5.000000,...,6.200000,3.200000,3.000000,0.400000,1.200000,3.200000,0.800000,0.0,0.400000,5.126582
1889,61,2009-06-15,John Lackey,At SFN,0,0,1,0,0,7.000000,...,7.000000,4.166667,3.833333,0.666667,1.333333,3.000000,0.666667,0.0,0.500000,6.606383
2062,66,2009-06-21,John Lackey,Vs. LAN,0,0,0,1,0,8.000000,...,7.428571,4.000000,3.714286,0.714286,1.142857,4.000000,0.714286,0.0,0.428571,6.104348
2205,71,2009-06-27,John Lackey,At ARI,0,0,0,0,0,7.000000,...,7.625000,4.000000,3.750000,0.750000,1.500000,4.125000,0.625000,0.0,0.375000,5.827338
2336,76,2009-07-02,John Lackey,Vs. BAL,0,0,1,0,0,8.000000,...,7.333333,3.666667,3.333333,0.666667,1.666667,4.666667,0.555556,0.0,0.333333,5.062500

In [27]:
MB = pitchlogs[pitchlogs['Pitcher']=='Miguel Batista']
MB.head(10)

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,...,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA
7857,37520,2010-07-27,Miguel Batista,Vs. ATL,0,0,1,0,0,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10287,44079,2011-04-22,Miguel Batista,Vs. CIN,0,0,0,0,0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13806,39336,2011-09-01,Miguel Batista,Vs. FLA,0,0,1,0,0,6.000000,...,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.00,NaN
13959,39341,2011-09-06,Miguel Batista,At FLA,0,0,0,0,0,6.000000,...,3.000000,1.000000,1.000000,0.0,2.000000,1.500000,0.0,0.0,0.00,3.000000
14067,39347,2011-09-11,Miguel Batista,Vs. CHN,0,0,0,0,0,5.000000,...,3.666667,1.000000,1.000000,0.0,2.666667,2.000000,0.0,0.0,0.00,2.250000
14562,39363,2011-09-28,Miguel Batista,Vs. CIN,1,0,1,0,1,9.000000,...,4.000000,1.750000,1.750000,0.0,2.750000,1.750000,0.5,0.0,0.25,3.705882
15060,39378,2012-04-23,Miguel Batista,Vs. SFN,0,0,0,1,0,3.666667,...,3.600000,1.400000,1.400000,0.0,2.600000,2.400000,0.4,0.0,0.20,2.423077
15475,39393,2012-05-08,Miguel Batista,At PHI,0,0,0,0,0,5.333333,...,8.000000,6.000000,6.000000,2.0,3.000000,2.000000,0.0,0.0,0.00,14.727273
15628,39398,2012-05-14,Miguel Batista,Vs. MIL,0,0,1,0,0,7.000000,...,8.000000,5.000000,4.000000,1.5,2.500000,1.500000,0.0,0.0,0.00,8.000000
15767,39403,2012-05-19,Miguel Batista,At TOR,0,0,0,0,0,2.000000,...,6.666667,3.333333,2.666667,1.0,2.000000,2.666667,0.0,0.0,0.00,4.500000

We see that NaN and inf occur because in some games the starting pitcher pitches 0 innings in the first game of the season.  A starting pitcher could pitch 0 innings if they allow many runs before and never record an out, for example.  If this does not occur during the first start of the  pitcher in the season, it will not result in NaNs and 'inf's because they just won't be counted in the averages. 

In John Lackey's case on May 16, 2009, he threw two wild pitches, the second of which hit the batter, so he was ejected.  In Miguel Batista's case, he walked the first batter and then threw two more pitches and it started raining, so and they put in another pitcher after the delay.

It's worth looking at other games where the starting pitcher had 0 IPs, 0 hits, and 0 walks.

In [28]:
noOuts = pitchlogs[(pitchlogs['IP'] == 0) & (pitchlogs['H'] == 0) & (pitchlogs['BB']==0)]
cols_to_drop = [col for col in noOuts.columns if col.startswith(('Avg','pct'))]
noOuts.drop(cols_to_drop, axis=1)

,index,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,R,ER,HR,BB,K,HBP,BK,WP,PitchAbbrev
1085,34,2009-05-16,John Lackey,At TEX,0,0,0,0,0,0.0,0,1,1,0,0,0,1,0,0,Joh Lackey
9335,5171,2010-09-20,Gavin Floyd,At OAK,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Gav Floyd
21626,46077,2013-06-21,Clayton Richard,Vs. LAN,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Cla Richard
28531,10667,2014-09-06,Daniel Duffy,At NYA,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Dan Duffy
31725,25357,2015-07-09,Alex Wood,At COL,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Ale Wood
36755,15803,2016-07-17,Rich Hill,Vs. TOR,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Ric Hill
45068,35519,2018-05-19,Rich Hill,At WSH,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Ric Hill
47338,32359,2018-08-15,Jose Urena,At ATL,0,0,0,0,0,0.0,0,0,0,0,0,0,1,0,0,Jos Urena
48375,3232,2018-09-23,Alex Cobb,At NYA,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,Ale Cobb

In [29]:
#Delete columns from gamelogs with starting pitcher info so they don't duplicate when we merge
cols_to_drop = [col for col in gamelogs.columns if col[-2:] in ['_V','_H']]
gamelogs = gamelogs.drop(cols_to_drop, axis=1)

#also delete columns with player IDs and position because we will not be using them
cols_to_drop = [col for col in gamelogs.columns if col.endswith(('Position','erID'))]
gamelogs = gamelogs.drop(cols_to_drop, axis=1)

In [30]:
gamelogs.columns
gamelogs.shape

(24298, 123)

In [31]:
gamelogs_hsp = pd.merge(gamelogs, pitchlogs, how='left', left_on = ['Date', 'HomeSPAbbrev'], right_on=['Game Date', 'PitchAbbrev']) 
gamelogs = pd.merge(gamelogs_hsp, pitchlogs, how='left', left_on = ['Date', 'VisitSPAbbrev'], right_on=['Game Date', 'PitchAbbrev'], suffixes = ['_HSP', '_VSP'])

In [32]:
gamelogs.shape

(24298, 195)

## Calculate Averages for Teams
~to get relief pitchers stats alone~

In [33]:
gamelogs['NumHalfInnings'] = gamelogs['LengthInOuts']/3

In [34]:
def HomeTeamOffenseInnings(lengthinouts, numhalfinnings):
    if lengthinouts % 3 == 0:
        HomeTeamOffenseInnings = numhalfinnings // 2
    else:
        HomeTeamOffenseInnings = numhalfinnings - math.ceil(numhalfinnings/2)
    return HomeTeamOffenseInnings

for idx, game in gamelogs.iterrows():
    gamelogs.loc[idx,'HomeOffenseInnings'] = HomeTeamOffenseInnings(game['LengthInOuts'], game['NumHalfInnings'])

gamelogs['VisitorOffenseInnings'] = gamelogs['NumHalfInnings']-gamelogs['HomeOffenseInnings']

In [35]:
gamelogs[['NumHalfInnings','HomeOffenseInnings','VisitorOffenseInnings']].head(20)

    NumHalfInnings  HomeOffenseInnings  VisitorOffenseInnings
0        18.000000            9.000000                    9.0
1        17.000000            8.000000                    9.0
2        18.000000            9.000000                    9.0
3        17.000000            8.000000                    9.0
4        18.000000            9.000000                    9.0
5        18.000000            9.000000                    9.0
6        18.000000            9.000000                    9.0
7        17.000000            8.000000                    9.0
8        17.000000            8.000000                    9.0
9        18.000000            9.000000                    9.0
10       17.000000            8.000000                    9.0
11       17.000000            8.000000                    9.0
12       18.000000            9.000000                    9.0
13       17.000000            8.000000                    9.0
14       19.333333            9.333333                   10.0
15       18.000000            9.000000                    9.0
16       17.000000            8.000000                    9.0
17       17.000000            8.000000                    9.0
18       17.000000            8.000000                    9.0
19       18.000000            9.000000                    9.0

In [36]:
#create new columns with Relief Pitching Info
gamelogs['HomeReliefIP'] = gamelogs['VisitorOffenseInnings'] - gamelogs['IP_HSP']
gamelogs['VisitorReliefIP'] = gamelogs['HomeOffenseInnings'] - gamelogs['IP_VSP']
gamelogs['HomeReliefER'] = gamelogs['HomeER'] - gamelogs['ER_HSP']
gamelogs['VisitorReliefER'] = gamelogs['VisitorER'] - gamelogs['ER_VSP']
gamelogs['HomeReliefK'] = gamelogs['VisitorK'] - gamelogs['K_HSP']
gamelogs['VisitorReliefK'] = gamelogs['HomeK'] - gamelogs['K_VSP']
gamelogs['HomeReliefBB'] = gamelogs['VisitorBB'] - gamelogs['BB_HSP']
gamelogs['VisitorReliefBB'] = gamelogs['HomeBB'] - gamelogs['BB_VSP']

In [37]:
#calculate times reaching base and plate appearances
gamelogs['HomeRB'] = gamelogs['HomeH'] + gamelogs['HomeBB'] + gamelogs['HomeHBP']
gamelogs['HomePA'] = gamelogs['HomeAB']+gamelogs['HomeBB']+gamelogs['HomeHBP']+gamelogs['HomeSF']
gamelogs['VisitorRB'] = gamelogs['VisitorH'] + gamelogs['VisitorBB'] + gamelogs['VisitorHBP']
gamelogs['VisitorPA'] = gamelogs['VisitorAB']+gamelogs['VisitorBB']+gamelogs['VisitorHBP']+gamelogs['VisitorSF']
gamelogs['HomePower'] = gamelogs['HomeD'] + 2 * gamelogs['HomeT'] + 3 * gamelogs['HomeHR']
gamelogs['VisitorPower'] = gamelogs['VisitorD'] + 2 * gamelogs['VisitorT'] + 3 * gamelogs['VisitorHR']

In [38]:
gamelogs = gamelogs.drop(['HomeOBP','VisitOBP'], axis=1)

In [39]:
gamelogs.rename(columns = {'HomeRunsScore': 'HomeRunsScored'}, inplace=True)

In [40]:
home_idx1 = gamelogs.columns.get_loc('HomeAB')
home_idx2 = gamelogs.columns.get_loc('HomeTP')
print(home_idx1)
print(home_idx2)
cols1 = gamelogs['HomeRunsScored']
cols2 = gamelogs.iloc[:, home_idx1 : home_idx2+1]
cols3 = gamelogs[['HomeReliefIP','HomeReliefER', 'HomeReliefK', 'HomeReliefBB']]
cols4 = gamelogs[['HomeOffenseInnings','HomeRB','HomePA', 'HomePower']]
cols = pd.concat([cols1,cols2,cols3, cols4], axis=1)
cols.columns

49
76

Index(['HomeRunsScored', 'HomeAB', 'HomeH', 'HomeD', 'HomeT', 'HomeHR',
       'HomeRBI', 'HomeSH', 'HomeSF', 'HomeHBP', 'HomeBB', 'HomeIBB', 'HomeK',
       'HomeSB', 'HomeCS', 'HomeGDP', 'HomeCI', 'HomeLOB', 'HomePitchers',
       'HomeER', 'HomeTER', 'HomeWP', 'HomeBalks', 'HomePO', 'HomeA', 'HomeE',
       'HomePassed', 'HomeDB', 'HomeTP', 'HomeReliefIP', 'HomeReliefER',
       'HomeReliefK', 'HomeReliefBB', 'HomeOffenseInnings', 'HomeRB', 'HomePA',
       'HomePower'],
      dtype='object')

In [42]:
#calculate team averages
for home_col in cols.columns:
    stat = home_col[4:]
    visit_col = 'Visitor' + stat
    melted = melt_gamelogs([home_col, visit_col])  
    melted['stat'] = relavent_team_stat(melted, home_col, visit_col)
    melted = melted.sort_values(['Team','Date'])
    new_col = 'Avg' + stat
    melted_grpd = melted.groupby(['Team', melted['Date'].dt.year])
    melted[new_col] = melted_grpd['stat'].apply(calculate_teamavg)
    fill_with_EOPS_data(melted_grpd, melted, 'stat', 'Team', new_col, 4)  
    #melted[new_col] = melted.groupby('Team')[new_col].fillna(method='ffill')                                                                                   
    melted = melted[['Date','DoubleHeader','Team',new_col]]                                                                                
    gamelogs = merge_twice(gamelogs, melted, 'HomeTeam', 'VisitingTeam', 'Team')

In [43]:
gamelogs.tail()

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,Team_V,AvgRB_V,Team_H,AvgPA_H,Team_V,AvgPA_V,Team_H,AvgPower_H,Team_V,AvgPower_V
24293,2018-09-30,0,Sun,CHA,AL,162,MIN,AL,162,4,...,CHA,11.254658,MIN,37.900621,CHA,37.322981,MIN,5.285714,CHA,5.478261
24294,2018-09-30,0,Sun,TEX,AL,162,SEA,AL,162,1,...,TEX,12.093168,SEA,37.403727,TEX,37.894410,SEA,5.254658,TEX,5.546584
24295,2018-09-30,0,Sun,TOR,AL,162,TBA,AL,162,4,...,TOR,11.683230,TBA,38.049689,TOR,37.472050,TBA,5.012422,TOR,6.204969
24296,2018-10-01,0,Mon,MIL,NL,163,CHN,NL,163,3,...,MIL,12.228395,CHN,38.845679,MIL,37.925926,CHN,5.259259,MIL,5.882716
24297,2018-10-01,0,Mon,COL,NL,163,LAN,NL,163,2,...,COL,12.141975,LAN,38.790123,COL,37.666667,LAN,6.530864,COL,6.098765

In [44]:
#OBP
gamelogs['AvgOBP_H'] = gamelogs['AvgRB_H']/gamelogs['AvgPA_H']
gamelogs['AvgOBP_V'] = gamelogs['AvgRB_V']/gamelogs['AvgPA_V']

#isolated power
gamelogs['AvgISO_H'] = gamelogs['AvgPower_H']/gamelogs['AvgAB_H']
gamelogs['AvgISO_V'] = gamelogs['AvgPower_H']/gamelogs['AvgAB_V']

#Offense earned runs scored per 9 innings
gamelogs['AvgOffERunsPer9Inn_H'] = gamelogs['AvgER_V'] * 9 / gamelogs['AvgOffenseInnings_H']
gamelogs['AvgOffERunsPer9Inn_V'] = gamelogs['AvgER_H'] * 9 / gamelogs['AvgOffenseInnings_V']

#Relief ERA
gamelogs['AvgReliefERA_H'] = gamelogs['AvgReliefER_H'] * 9 / gamelogs['AvgReliefIP_H']
gamelogs['AvgReliefERA_V'] = gamelogs['AvgReliefER_V'] * 9 / gamelogs['AvgReliefIP_H']

In [47]:
gamelogs.Attendance.head()

0    44532.0
1    48799.0
2    42177.0
3    34323.0
4    43827.0
Name: Attendance, dtype: float64

In [49]:
byparkyear = gamelogs.groupby(['ParkID',gamelogs['Date'].dt.year])
gamelogs['AvgAttendance'] = byparkyear['Attendance'].apply(calculate_pitchavg)
gamelogs['AvgAttendance'] = gamelogs.groupby('ParkID')['AvgAttendance'].fillna(method='ffill')

In [52]:
gamelogs[['Date','HomeTeam','AvgAttendance']].tail()

            Date HomeTeam  AvgAttendance
24293 2018-09-30      MIN   24544.743109
24294 2018-09-30      SEA   28479.287500
24295 2018-09-30      TBA   14270.750000
24296 2018-10-01      CHN   38798.012346
24297 2018-10-01      LAN   47033.135802

In [53]:
gamelogs.columns

Index(['Date', 'DoubleHeader', 'DayOfWeek', 'VisitingTeam',
       'VisitingTeamLeague', 'VisitingTeamGameNumber', 'HomeTeam',
       'HomeTeamLeague', 'HomeTeamGameNumber', 'VisitorRunsScored',
       ...
       'AvgPower_V', 'AvgOBP_H', 'AvgOBP_V', 'AvgISO_H', 'AvgISO_V',
       'AvgOffERunsPer9Inn_H', 'AvgOffERunsPer9Inn_V', 'AvgReliefERA_H',
       'AvgReliefERA_V', 'AvgAttendance'],
      dtype='object', length=367)

In [54]:
gamelogs = gamelogs.drop(['Team_V', 'Team_H'], axis=1)
gamelogs.shape

(24298, 293)

In [59]:
#check that it worked
RS = gamelogs[(gamelogs['HomeTeam']=='BOS') | (gamelogs['VisitingTeam']=='BOS')].sort_values('Date')
RS_H = RS[['Date', 'HomeTeam', 'VisitingTeam','HomeH','AvgH_H','VisitorH', 'AvgH_V']]
RS_H.iloc[155:170,:]

           Date HomeTeam VisitingTeam  HomeH    AvgH_H  VisitorH     AvgH_V
2338 2009-09-28      BOS          TOR      7  9.219355        14   9.282051
2351 2009-09-29      BOS          TOR     14  9.205128        11   9.312102
2367 2009-09-30      BOS          TOR      3  9.235669        17   9.322785
2380 2009-10-01      BOS          CLE     12  9.196203         3   9.107595
2393 2009-10-02      BOS          CLE      8  9.213836         8   9.069182
2408 2009-10-03      BOS          CLE     11  9.206250        10   9.062500
2423 2009-10-04      BOS          CLE     11  9.217391         8   9.068323
2430 2010-04-04      BOS          NYA     12  9.228395        12   9.901235
2445 2010-04-06      BOS          NYA      9  9.228395         9   9.901235
2452 2010-04-07      BOS          NYA      7  9.228395         6   9.901235
2481 2010-04-09      KCA          BOS      8  9.000000         9   9.333333
2496 2010-04-10      KCA          BOS      9  8.750000        12   9.250000
2511 2010-04-11      KCA          BOS     10  8.800000        12   9.800000
2525 2010-04-12      MIN          BOS     12  8.428571         7  10.166667
2546 2010-04-14      MIN          BOS      9  8.875000        10   9.714286

In [60]:
gamelogs = gamelogs.replace(np.inf,np.nan)

In [61]:
rel_cols = [col for col in gamelogs.columns if col.startswith(('pct','Avg'))]
gamelogs[rel_cols].shape

(24298, 115)

In [62]:
gamelogs[rel_cols].iloc[:,:60].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24298 entries, 0 to 24297
Data columns (total 60 columns):
pctCG_HSP          23772 non-null float64
pctGF_HSP          23772 non-null float64
pctW_HSP           23772 non-null float64
pctL_HSP           23772 non-null float64
pctSho_HSP         23772 non-null float64
AvgIP_HSP          23772 non-null float64
AvgH_HSP           23772 non-null float64
AvgR_HSP           23772 non-null float64
AvgER_HSP          23772 non-null float64
AvgHR_HSP          23772 non-null float64
AvgBB_HSP          23772 non-null float64
AvgK_HSP           23772 non-null float64
AvgHBP_HSP         23772 non-null float64
AvgBK_HSP          23772 non-null float64
AvgWP_HSP          23772 non-null float64
AvgERA_HSP         23771 non-null float64
pctCG_VSP          23818 non-null float64
pctGF_VSP          23818 non-null float64
pctW_VSP           23818 non-null float64
pctL_VSP           23818 non-null float64
pctSho_VSP         23818 non-null float64
AvgIP_VSP          23818 non-null float64
AvgH_VSP           23818 non-null float64
AvgR_VSP           23818 non-null float64
AvgER_VSP          23818 non-null float64
AvgHR_VSP          23818 non-null float64
AvgBB_VSP          23818 non-null float64
AvgK_VSP           23818 non-null float64
AvgHBP_VSP         23818 non-null float64
AvgBK_VSP          23818 non-null float64
AvgWP_VSP          23818 non-null float64
AvgERA_VSP         23817 non-null float64
AvgRunsScored_H    24253 non-null float64
AvgRunsScored_V    24253 non-null float64
AvgAB_H            24253 non-null float64
AvgAB_V            24253 non-null float64
AvgH_H             24253 non-null float64
AvgH_V             24253 non-null float64
AvgD_H             24253 non-null float64
AvgD_V             24253 non-null float64
AvgT_H             24253 non-null float64
AvgT_V             24253 non-null float64
AvgHR_H            24253 non-null float64
AvgHR_V            24253 non-null float64
AvgRBI_H           24253 non-null float64
AvgRBI_V           24253 non-null float64
AvgSH_H            24253 non-null float64
AvgSH_V            24253 non-null float64
AvgSF_H            24253 non-null float64
AvgSF_V            24253 non-null float64
AvgHBP_H           24253 non-null float64
AvgHBP_V           24253 non-null float64
AvgBB_H            24253 non-null float64
AvgBB_V            24253 non-null float64
AvgIBB_H           24253 non-null float64
AvgIBB_V           24253 non-null float64
AvgK_H             24253 non-null float64
AvgK_V             24253 non-null float64
AvgSB_H            24253 non-null float64
AvgSB_V            24253 non-null float64
dtypes: float64(60)
memory usage: 11.9 MB

In [63]:
gamelogs[rel_cols].iloc[:,60:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24298 entries, 0 to 24297
Data columns (total 55 columns):
AvgCS_H                 24253 non-null float64
AvgCS_V                 24253 non-null float64
AvgGDP_H                24253 non-null float64
AvgGDP_V                24253 non-null float64
AvgCI_H                 24253 non-null float64
AvgCI_V                 24253 non-null float64
AvgLOB_H                24253 non-null float64
AvgLOB_V                24253 non-null float64
AvgPitchers_H           24253 non-null float64
AvgPitchers_V           24253 non-null float64
AvgER_H                 24253 non-null float64
AvgER_V                 24253 non-null float64
AvgTER_H                24253 non-null float64
AvgTER_V                24253 non-null float64
AvgWP_H                 24253 non-null float64
AvgWP_V                 24253 non-null float64
AvgBalks_H              24253 non-null float64
AvgBalks_V              24253 non-null float64
AvgPO_H                 24253 non-null float64
AvgPO_V                 24253 non-null float64
AvgA_H                  24253 non-null float64
AvgA_V                  24253 non-null float64
AvgE_H                  24253 non-null float64
AvgE_V                  24253 non-null float64
AvgPassed_H             24253 non-null float64
AvgPassed_V             24253 non-null float64
AvgDB_H                 24253 non-null float64
AvgDB_V                 24253 non-null float64
AvgTP_H                 24253 non-null float64
AvgTP_V                 24253 non-null float64
AvgReliefIP_H           24253 non-null float64
AvgReliefIP_V           24253 non-null float64
AvgReliefER_H           24253 non-null float64
AvgReliefER_V           24253 non-null float64
AvgReliefK_H            24253 non-null float64
AvgReliefK_V            24253 non-null float64
AvgReliefBB_H           24253 non-null float64
AvgReliefBB_V           24253 non-null float64
AvgOffenseInnings_H     24253 non-null float64
AvgOffenseInnings_V     24253 non-null float64
AvgRB_H                 24253 non-null float64
AvgRB_V                 24253 non-null float64
AvgPA_H                 24253 non-null float64
AvgPA_V                 24253 non-null float64
AvgPower_H              24253 non-null float64
AvgPower_V              24253 non-null float64
AvgOBP_H                24253 non-null float64
AvgOBP_V                24253 non-null float64
AvgISO_H                24253 non-null float64
AvgISO_V                24253 non-null float64
AvgOffERunsPer9Inn_H    24253 non-null float64
AvgOffERunsPer9Inn_V    24253 non-null float64
AvgReliefERA_H          24253 non-null float64
AvgReliefERA_V          24253 non-null float64
AvgAttendance           24258 non-null float64
dtypes: float64(55)
memory usage: 11.0 MB

In [64]:
nullHR = gamelogs[gamelogs['AvgHR_H'].isnull()]
nullHR

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,AvgPower_V,AvgOBP_H,AvgOBP_V,AvgISO_H,AvgISO_V,AvgOffERunsPer9Inn_H,AvgOffERunsPer9Inn_V,AvgReliefERA_H,AvgReliefERA_V,AvgAttendance
0,2009-04-05,0,Sun,ATL,NL,1,PHI,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-04-06,0,Mon,COL,NL,1,ARI,NL,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-04-06,0,Mon,NYN,NL,1,CIN,NL,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-04-06,0,Mon,WAS,NL,1,FLO,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-04-06,0,Mon,CHN,NL,1,HOU,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2009-04-06,0,Mon,LAN,NL,1,SDN,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2009-04-06,0,Mon,PIT,NL,1,SLN,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2009-04-06,0,Mon,OAK,AL,1,ANA,AL,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2009-04-06,0,Mon,NYA,AL,1,BAL,AL,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009-04-06,0,Mon,SEA,AL,1,MIN,AL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2009-04-06,0,Mon,CLE,AL,1,TEX,AL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2009-04-06,0,Mon,DET,AL,1,TOR,AL,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2009-04-07,0,Tue,COL,NL,2,ARI,NL,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48799.0
13,2009-04-07,0,Tue,WAS,NL,2,FLO,NL,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34323.0
14,2009-04-07,0,Tue,CHN,NL,2,HOU,NL,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43827.0
15,2009-04-07,0,Tue,ATL,NL,2,PHI,NL,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44532.0
16,2009-04-07,0,Tue,LAN,NL,2,SDN,NL,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45496.0
17,2009-04-07,0,Tue,MIL,NL,1,SFN,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2009-04-07,0,Tue,PIT,NL,2,SLN,NL,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45832.0
19,2009-04-07,0,Tue,OAK,AL,2,ANA,AL,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43220.0
20,2009-04-07,0,Tue,TBA,AL,1,BOS,AL,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2009-04-07,0,Tue,KCA,AL,1,CHA,AL,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2009-04-07,0,Tue,SEA,AL,2,MIN,AL,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48514.0
23,2009-04-07,0,Tue,DET,AL,2,TOR,AL,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48027.0
24,2009-04-08,0,Wed,COL,NL,3,ARI,NL,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37718.0
25,2009-04-08,0,Wed,NYN,NL,2,CIN,NL,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42177.0
26,2009-04-08,0,Wed,WAS,NL,3,FLO,NL,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22723.5
27,2009-04-08,0,Wed,CHN,NL,3,HOU,NL,3,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37474.0
28,2009-04-08,0,Wed,ATL,NL,3,PHI,NL,3,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44355.0
29,2009-04-08,0,Wed,LAN,NL,3,SDN,NL,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32765.5
30,2009-04-08,0,Wed,MIL,NL,2,SFN,NL,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42767.0
31,2009-04-08,0,Wed,PIT,NL,3,SLN,NL,3,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40519.0
32,2009-04-08,0,Wed,OAK,AL,3,ANA,AL,3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43308.0
33,2009-04-08,0,Wed,NYA,AL,2,BAL,AL,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48607.0
34,2009-04-08,0,Wed,TBA,AL,2,BOS,AL,2,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37057.0
35,2009-04-08,0,Wed,KCA,AL,2,CHA,AL,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37449.0
36,2009-04-08,0,Wed,SEA,AL,3,MIN,AL,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36134.5
37,2009-04-08,0,Wed,CLE,AL,2,TEX,AL,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49916.0
38,2009-04-08,0,Wed,DET,AL,3,TOR,AL,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32408.5
39,2009-04-09,0,Thu,NYN,NL,3,CIN,NL,3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27872.5
41,2009-04-09,0,Thu,MIL,NL,3,SFN,NL,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41765.5
43,2009-04-09,0,Thu,NYA,AL,3,BAL,AL,3,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35731.5
44,2009-04-09,0,Thu,TBA,AL,3,BOS,AL,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37304.5
45,2009-04-09,0,Thu,KCA,AL,3,CHA,AL,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30133.0
47,2009-04-09,0,Thu,CLE,AL,3,TEX,AL,3,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36372.5

In [66]:
nullHR_teams = nullHR['HomeTeam'].append(nullHR['VisitingTeam'])
nullHR_teams.value_counts()

FLO    3
NYN    3
SDN    3
HOU    3
TOR    3
DET    3
NYA    3
ATL    3
MIN    3
ARI    3
TEX    3
KCA    3
WAS    3
TBA    3
CIN    3
SLN    3
BOS    3
CLE    3
LAN    3
OAK    3
BAL    3
SEA    3
CHA    3
PHI    3
CHN    3
ANA    3
MIL    3
SFN    3
COL    3
PIT    3
dtype: int64

In [67]:
gamelogs.head()

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,AvgPower_V,AvgOBP_H,AvgOBP_V,AvgISO_H,AvgISO_V,AvgOffERunsPer9Inn_H,AvgOffERunsPer9Inn_V,AvgReliefERA_H,AvgReliefERA_V,AvgAttendance
0,2009-04-05,0,Sun,ATL,NL,1,PHI,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-04-06,0,Mon,COL,NL,1,ARI,NL,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-04-06,0,Mon,NYN,NL,1,CIN,NL,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-04-06,0,Mon,WAS,NL,1,FLO,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-04-06,0,Mon,CHN,NL,1,HOU,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ready to pickle and move on to Inferential Statistics!

In [68]:
outfile = open('../PickledFiles/gamelogs3', 'wb')
pickle.dump(gamelogs, outfile)
outfile.close()