# Capstone 1: Data Wrangling Part 2:
Calculating average stats leading into games, to start creating features for a predictive model.

In [1]:
%matplotlib inline
import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from datetime import datetime
from scipy.stats import stats
import math

In [2]:
infile = open('../PickledFiles/gamelogs2', 'rb')
gamelogs = pickle.load(infile)
infile.close

infile = open('../PickledFiles/pitchlogs', 'rb')
pitchlogs = pickle.load(infile)
infile.close

In [3]:
def melt_gamelogs(other_id_vars):
    """Function to melt gamelogs so can perform calculation for each team"""
    melted = pd.melt(gamelogs, id_vars= ['Date','HomeWin','DoubleHeader'] + other_id_vars, value_vars = ['HomeTeam','VisitingTeam'], value_name = 'Team')
    melted = melted.sort_values('Team')
    return melted

def merge_twice(df1, df2, df1_home, df1_visit, df2col):
    """Function to merge df twice-once for info about home team, then for info about away team"""
    merged = pd.merge(df1,df2, left_on = ['Date', 'DoubleHeader',df1_home], right_on = ['Date','DoubleHeader', df2col])
    merged = pd.merge(merged,df2, left_on = ['Date', 'DoubleHeader',df1_visit], right_on = ['Date', 'DoubleHeader',df2col], suffixes = ['_H','_V'])
    return merged

def relavent_team_stat(df, home_col, visit_col):
    """Function to get the stat of either the home team or the away team """
    stats = []
    for i, row in df.iterrows():
        if row['variable'] == 'HomeTeam':
            stat = row[home_col]
        else:
            stat = row[visit_col]
        stats.append(stat)
    return stats

def calculate_teamavg(game):
    """Function used to calculate average statistics for team."""
    avg = game.expanding(3).mean().shift()
    return avg

def calculate_pitchavg(game):
    """Function used to calculate rolling averages for starting pitchers."""
    avg = game.expanding(3).mean().shift()
    return avg

def fill_with_EOPS_data(grouped_df, df, col, col_to_groupby, new_col, min_games, limit):
    """Fill NA with data from end of prior season."""
    EOS_col = 'EOS' + col
    df[EOS_col] = grouped_df[col].apply(lambda x: x.expanding(min_games).mean())
    #fill first 2 games of season with prior season data
    df[EOS_col] = df.groupby(col_to_groupby)[EOS_col].fillna(method='ffill',limit=limit)
    df[new_col] = df[new_col].fillna(df[EOS_col])
    df.drop(labels=EOS_col, axis=1, inplace=True)
 
    return df[new_col]

def fill_second_game(df, col, new_col, col_to_groupby):
    """Fill info for second game of season with average of first game and end of prior season"""
    temp_col = 'Temp'+col
    df[temp_col] = (df[new_col] + df[col])/2
    df[temp_col] = df.groupby(col_to_groupby)[temp_col].shift()
    df[new_col] = df[new_col].fillna(df[temp_col],limit=1)
    df.drop(labels=temp_col, axis=1, inplace=True)
    return df[new_col]

def fill_2ndand3rd_game(grouped_df, df, col, new_col, col_to_groupby):
    """Fill info for second game of season with average of first and second game and end of prior season
    All with equal weights, so 2/3 of weight is given to first and second game of current season when
    filling data for 3rd game.  Fills 3rd game and then second game"""
    temp_col = 'Temp'+ col
    temp_col2 = 'Temp2' + col
    temp_col3 = 'Temp3' + col
    temp_col4 = 'Temp4' + col
    #df[temp_col] = grouped_df[col].apply(lambda x: x.expanding(2).mean().shift())
    df[temp_col] = grouped_df[col].shift()
    df[temp_col2] = grouped_df[new_col].shift()
    df[temp_col3] = (df[col] + df[temp_col] + df[temp_col2])/3
    df[temp_col3] = df.groupby(col_to_groupby)[temp_col3].shift()
    df[temp_col4] = (df[col] + df[new_col])/2
    df[temp_col4] = df.groupby(col_to_groupby)[temp_col4].shift()
    df[temp_col3] = df[temp_col3].fillna(df[temp_col4])    
    df[new_col] = df[new_col].fillna(df[temp_col3])
    df.drop([temp_col, temp_col2,temp_col3, temp_col4], axis=1, inplace=True)
    return df[new_col]

In [4]:
pitchlogs.head()

,Game Date,Pitcher,Opponent,GS,CG,GF,W,L,Sv,Sho,...,H,R,ER,HR,BB,K,HBP,BK,WP,PitchAbbrev
40498,2009-04-05,Brett Myers,Vs. ATL,1,0,0,0,1,0,0,...,8,4,4,3,1,6,0,0,0,Bre Myers
24300,2009-04-05,Derek Lowe,At PHI,1,0,0,1,0,0,0,...,2,0,0,0,0,4,0,0,0,Der Lowe
0,2009-04-06,Joe Saunders,Vs. OAK,1,0,0,1,0,0,0,...,3,0,0,0,2,2,1,0,0,Joe Saunders
42118,2009-04-06,Paul Maholm,At SLN,1,0,0,0,0,0,0,...,7,2,1,0,1,1,1,0,1,Pau Maholm
38878,2009-04-06,Johan Santana,At CIN,1,0,0,1,0,0,0,...,3,1,1,0,4,7,0,0,0,Joh Santana

## Calculate Averages for Starting Pitchers

In [5]:
pitchlogs.columns

Index(['Game Date', 'Pitcher', 'Opponent', 'GS', 'CG', 'GF', 'W', 'L', 'Sv',
       'Sho', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP',
       'PitchAbbrev'],
      dtype='object')

In [6]:
cols = ['GS', 'CG', 'GF', 'W', 'L', 'Sv','Sho']
for col in cols:
    pitchlogs[col] = pd.to_numeric(pitchlogs[col])
pitchlogs[cols].dtypes

GS     int64
CG     int64
GF     int64
W      int64
L      int64
Sv     int64
Sho    int64
dtype: object

In [7]:
pitchlogs[(pitchlogs.GS != 1) | (pitchlogs.Sv != 0)]

Empty DataFrame
Columns: [Game Date, Pitcher, Opponent, GS, CG, GF, W, L, Sv, Sho, IP, H, R, ER, HR, BB, K, HBP, BK, WP, PitchAbbrev]
Index: []

[0 rows x 21 columns]

In [8]:
#These columns are irrelevant because the starting pitcher always will always have 1 in the 'GS' (game started) and O
#  in the Sv ('Game Saved') column, so we can drop them
pitchlogs = pitchlogs.drop(['GS', 'Sv'], axis=1)
pitchlogs.columns

Index(['Game Date', 'Pitcher', 'Opponent', 'CG', 'GF', 'W', 'L', 'Sho', 'IP',
       'H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP', 'PitchAbbrev'],
      dtype='object')

In [9]:
pitchlogs['Opp']=pitchlogs['Opponent'].str[-3:]
pitchlogs['Opp'].head()

40498    ATL
24300    PHI
0        OAK
42118    SLN
38878    CIN
Name: Opp, dtype: object

In [10]:
pitchlogs = pitchlogs.reset_index(drop=True)
pitchlogs.head()

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,R,ER,HR,BB,K,HBP,BK,WP,PitchAbbrev,Opp
0,2009-04-05,Brett Myers,Vs. ATL,0,0,0,1,0,6.000000,8,4,4,3,1,6,0,0,0,Bre Myers,ATL
1,2009-04-05,Derek Lowe,At PHI,0,0,1,0,0,8.000000,2,0,0,0,0,4,0,0,0,Der Lowe,PHI
2,2009-04-06,Joe Saunders,Vs. OAK,0,0,1,0,0,6.666667,3,0,0,0,2,2,1,0,0,Joe Saunders,OAK
3,2009-04-06,Paul Maholm,At SLN,0,0,0,0,0,6.666667,7,2,1,0,1,1,1,0,1,Pau Maholm,SLN
4,2009-04-06,Johan Santana,At CIN,0,0,1,0,0,5.666667,3,1,1,0,4,7,0,0,0,Joh Santana,CIN

In [11]:
#group by pitcher and season so we can calculate stats per season for individual starting pitchers
bypitcher = pitchlogs.groupby(['Pitcher', pitchlogs['Game Date'].dt.year])
florida = {'Vs. MIA: Vs. FLA', 'At MIA: At FLA'}
pitchlogs.replace(florida, inplace=True)
by_opp = pitchlogs.groupby('Opp')

In [12]:
#pitchlogs.reset_index(inplace=True)
new_cols = []
for col in ['CG', 'GF', 'W', 'L', 'Sho']:
    new_col = 'pct'+col
    new_cols.append(new_col)
for col in ['IP','H', 'R', 'ER', 'HR', 'BB', 'K', 'HBP', 'BK', 'WP']:
    new_col = 'Avg'+col
    new_cols.append(new_col)
    
for new_col in new_cols:
    col = new_col[3:]
    pitchlogs[new_col] = bypitcher[col].apply(calculate_pitchavg)
    #fill first start of season with data from end of prior season
    pitchlogs[new_col] = fill_with_EOPS_data(bypitcher, pitchlogs, col,'Pitcher',new_col, 4, 1)
    #fill second start of season with avg of end of prior season and first start
    pitchlogs[new_col] = fill_2ndand3rd_game(bypitcher, pitchlogs, col, new_col, 'Pitcher')


    #fill second start with just first start info - this will cover second starts of careers
    #temp_col = 'Temp'+col
    #pitchlogs[temp_col] = pitchlogs.groupby('Pitcher')[col].apply(lambda x: x.expanding().mean().shift())
    #pitchlogs[new_col] = pitchlogs[new_col].fillna(pitchlogs[temp_col])
    #pitchlogs.drop([temp_col], axis=1, inplace=True)
    #now first second and third career start will be left blank.  To fill it we 
    temp_col = 'Temp' +col
    temp_col2 = 'Temp2' + col
    temp_col3 = 'Temp3' + col
    temp_col4 = 'Temp4' + col
    temp_col5 = 'Temp5' + col
    pitchlogs[temp_col] = by_opp[col].apply(lambda x: x.rolling(window = 162, min_periods = 5).mean().shift())
    pitchlogs[temp_col2] = pitchlogs.groupby('Pitcher')[col].shift()
    pitchlogs[temp_col3] = (pitchlogs[temp_col]+pitchlogs[temp_col2])/2
    pitchlogs[temp_col4] = pitchlogs.groupby('Pitcher')[col].shift(2)
    pitchlogs[temp_col5] = (pitchlogs[temp_col]+pitchlogs[temp_col2] + pitchlogs[temp_col4])/3
    pitchlogs[new_col] = pitchlogs[new_col].fillna(pitchlogs[temp_col5]).fillna(pitchlogs[temp_col3])
    pitchlogs[new_col] = pitchlogs[new_col].fillna(pitchlogs[temp_col])
    cols_to_drop = [col for col in pitchlogs.columns if col.startswith('Temp')]
    pitchlogs.drop(cols_to_drop, axis = 1, inplace=True)

In [13]:
pitchlogs.head()

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,...,AvgIP,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP
0,2009-04-05,Brett Myers,Vs. ATL,0,0,0,1,0,6.000000,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-04-05,Derek Lowe,At PHI,0,0,1,0,0,8.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-04-06,Joe Saunders,Vs. OAK,0,0,1,0,0,6.666667,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-04-06,Paul Maholm,At SLN,0,0,0,0,0,6.666667,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-04-06,Johan Santana,At CIN,0,0,1,0,0,5.666667,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
pitchlogs['AvgERA'] = pitchlogs['AvgER'] * 9 / pitchlogs['AvgIP']

In [15]:
#check that it worked
RP = pitchlogs.loc[pitchlogs.Pitcher == 'Rick Porcello']
RP[['Game Date', 'ER','IP', 'AvgER','AvgIP', 'AvgERA']].tail(36).head(10)

       Game Date  ER        IP     AvgER     AvgIP    AvgERA
43306 2017-09-16   0  7.333333  3.200000  6.211111  4.636852
43473 2017-09-22   4  4.000000  3.096774  6.247312  4.461274
43622 2017-09-27   5  5.666667  3.125000  6.177083  4.553120
43794 2018-03-31   1  5.333333  3.181818  6.161616  4.647541
43968 2018-04-07   3  7.333333  2.090909  5.747475  3.274165
44091 2018-04-12   0  7.000000  2.393939  6.276094  3.432940
44248 2018-04-18   0  6.000000  1.333333  6.555556  1.830508
44403 2018-04-24   3  7.000000  1.000000  6.416667  1.402597
44547 2018-04-29   3  7.666667  1.400000  6.533333  1.928571
44665 2018-05-04   1  6.000000  1.666667  6.722222  2.231405

In [16]:
(5.3333+6.161616+7.3333)/3

6.276072

In [17]:
RP[['Game Date', 'ER','IP', 'AvgER','AvgIP', 'AvgERA']].head(10)

      Game Date  ER        IP     AvgER     AvgIP    AvgERA
96   2009-04-09   4  5.000000       NaN       NaN       NaN
353  2009-04-19   1  7.000000  3.458333  5.652778  5.506143
479  2009-04-24   4  6.000000  2.422222  6.111111  3.567273
622  2009-04-29   6  3.666667  3.000000  6.000000  4.500000
789  2009-05-05   0  7.000000  3.750000  5.416667  6.230769
935  2009-05-10   1  5.000000  3.000000  5.733333  4.709302
1071 2009-05-16   1  6.000000  2.666667  5.611111  4.277228
1224 2009-05-22   1  6.000000  2.428571  5.666667  3.857143
1398 2009-05-27   2  6.000000  2.250000  5.708333  3.547445
1529 2009-06-02   3  4.333333  2.222222  5.740741  3.483871

In [18]:
pitchlogs['AvgERA'].describe()

count    48446.000000
mean         4.131073
std          1.463543
min          0.000000
25%          3.182510
50%          3.970588
75%          4.858131
max         34.500000
Name: AvgERA, dtype: float64

In [19]:
RP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 96 to 48565
Data columns (total 36 columns):
Game Date      307 non-null datetime64[ns]
Pitcher        307 non-null object
Opponent       307 non-null object
CG             307 non-null int64
GF             307 non-null int64
W              307 non-null int64
L              307 non-null int64
Sho            307 non-null int64
IP             307 non-null float64
H              307 non-null int64
R              307 non-null int64
ER             307 non-null int64
HR             307 non-null int64
BB             307 non-null int64
K              307 non-null int64
HBP            307 non-null int64
BK             307 non-null int64
WP             307 non-null int64
PitchAbbrev    307 non-null object
Opp            307 non-null object
pctCG          306 non-null float64
pctGF          306 non-null float64
pctW           306 non-null float64
pctL           306 non-null float64
pctSho         306 non-null float64
AvgIP          306 non-null float64
AvgH           306 non-null float64
AvgR           306 non-null float64
AvgER          306 non-null float64
AvgHR          306 non-null float64
AvgBB          306 non-null float64
AvgK           306 non-null float64
AvgHBP         306 non-null float64
AvgBK          306 non-null float64
AvgWP          306 non-null float64
AvgERA         306 non-null float64
dtypes: datetime64[ns](1), float64(17), int64(14), object(4)
memory usage: 88.7+ KB

The first 5 starts against each team should be null... 5*30teams = 150

In [20]:
num_pitchers = pitchlogs['Pitcher'].nunique()
num_pitchers

946

In [21]:
pitchlogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48596 entries, 0 to 48595
Data columns (total 36 columns):
Game Date      48596 non-null datetime64[ns]
Pitcher        48596 non-null object
Opponent       48596 non-null object
CG             48596 non-null int64
GF             48596 non-null int64
W              48596 non-null int64
L              48596 non-null int64
Sho            48596 non-null int64
IP             48596 non-null float64
H              48596 non-null int64
R              48596 non-null int64
ER             48596 non-null int64
HR             48596 non-null int64
BB             48596 non-null int64
K              48596 non-null int64
HBP            48596 non-null int64
BK             48596 non-null int64
WP             48596 non-null int64
PitchAbbrev    48596 non-null object
Opp            48596 non-null object
pctCG          48446 non-null float64
pctGF          48446 non-null float64
pctW           48446 non-null float64
pctL           48446 non-null float64
pctSho         48446 non-null float64
AvgIP          48446 non-null float64
AvgH           48446 non-null float64
AvgR           48446 non-null float64
AvgER          48446 non-null float64
AvgHR          48446 non-null float64
AvgBB          48446 non-null float64
AvgK           48446 non-null float64
AvgHBP         48446 non-null float64
AvgBK          48446 non-null float64
AvgWP          48446 non-null float64
AvgERA         48446 non-null float64
dtypes: datetime64[ns](1), float64(17), int64(14), object(4)
memory usage: 13.3+ MB

In [22]:
48596-48446

150

In [23]:
nulls = pitchlogs[pitchlogs.AvgIP.isnull()]
nulls

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,...,AvgH,AvgR,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA
0,2009-04-05,Brett Myers,Vs. ATL,0,0,0,1,0,6.000000,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-04-05,Derek Lowe,At PHI,0,0,1,0,0,8.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-04-06,Joe Saunders,Vs. OAK,0,0,1,0,0,6.666667,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-04-06,Paul Maholm,At SLN,0,0,0,0,0,6.666667,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-04-06,Johan Santana,At CIN,0,0,1,0,0,5.666667,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2009-04-06,John Lannan,At FLA,0,0,0,1,0,3.000000,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2009-04-06,Hiroki Kuroda,At SDN,0,0,1,0,0,5.666667,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2009-04-06,Roy Oswalt,Vs. CHN,0,0,0,1,0,7.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2009-04-06,Ricky Nolasco,Vs. WSH,0,0,1,0,0,6.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009-04-06,Jeremy Guthrie,Vs. NYA,0,0,1,0,0,6.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2009-04-06,Aaron Cook,At ARI,0,0,0,0,0,2.333333,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2009-04-06,Aaron Harang,Vs. NYN,0,0,0,1,0,5.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2009-04-06,Brandon Webb,Vs. COL,0,0,0,0,0,4.000000,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009-04-06,Roy Halladay,Vs. DET,0,0,1,0,0,7.000000,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2009-04-06,Kevin Millwood,Vs. CLE,0,0,1,0,0,7.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2009-04-06,Felix Hernandez,At MIN,0,0,1,0,0,8.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2009-04-06,Dallas Braden,At LAA,0,0,0,1,0,6.000000,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2009-04-06,CC Sabathia,At BAL,0,0,0,1,0,4.333333,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2009-04-06,Francisco Liriano,Vs. SEA,0,0,0,1,0,7.000000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2009-04-06,Justin Verlander,At TOR,0,0,0,1,0,3.666667,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2009-04-06,Cliff Lee,At TEX,0,0,0,1,0,5.000000,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2009-04-06,Adam Wainwright,Vs. PIT,0,0,0,0,0,5.333333,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2009-04-06,Jake Peavy,Vs. LAN,0,0,0,1,0,7.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2009-04-06,Carlos Zambrano,At HOU,0,0,1,0,0,6.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2009-04-07,Mark Buehrle,Vs. KCA,0,0,0,0,0,5.000000,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2009-04-07,James Shields,At BOS,0,0,0,1,0,5.333333,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2009-04-07,Wandy Rodriguez,Vs. CHN,0,0,0,0,0,6.000000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2009-04-07,David Purcey,Vs. DET,0,0,0,0,0,7.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2009-04-07,Chris Young,Vs. LAN,0,0,1,0,0,6.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2009-04-07,Edwin Jackson,At TOR,0,0,0,0,0,7.333333,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2009-04-10,Kris Benson,At DET,0,0,0,1,0,5.000000,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,2009-04-10,Brett Anderson,Vs. SEA,0,0,0,1,0,6.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,2009-04-10,Shairon Martis,At ATL,0,0,0,0,0,3.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,2009-04-10,John Maine,At FLA,0,0,0,0,0,5.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2009-04-10,Braden Looper,Vs. CHN,0,0,0,0,0,5.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,2009-04-10,Tim Wakefield,At LAA,0,0,0,1,0,6.000000,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2009-04-11,John Lannan,At ATL,0,0,0,1,0,6.000000,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,2009-04-11,Dave Bush,Vs. CHN,0,0,0,0,0,6.333333,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2009-04-11,Joe Saunders,Vs. BOS,0,0,0,1,0,7.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,2009-04-11,Justin Verlander,Vs. TEX,0,0,0,0,0,5.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2009-04-11,Johnny Cueto,Vs. PIT,0,0,0,1,0,6.000000,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2009-04-11,Paul Maholm,At CIN,0,0,1,0,0,7.000000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,2009-04-11,Roy Halladay,At CLE,0,0,1,0,0,7.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,2009-04-11,Ricky Nolasco,Vs. NYN,0,0,0,1,0,5.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2009-04-11,Jake Peavy,Vs. SFN,0,0,1,0,0,8.333333,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2009-04-11,Adam Wainwright,Vs. HOU,0,0,1,0,0,5.000000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2009-04-11,Livan Hernandez,At FLA,0,0,1,0,0,6.666667,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2009-04-11,Jorge de la Rosa,Vs. PHI,0,0,0,1,0,4.666667,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2009-04-11,Jeremy Guthrie,Vs. TBA,0,0,1,0,0,6.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2009-04-11,Kenshin Kawakami,Vs. WSH,0,0,1,0,0,6.000000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2009-04-11,Francisco Liriano,At CHA,0,0,0,1,0,4.666667,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2009-04-11,Brett Myers,At COL,0,0,1,0,0,7.000000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2009-04-11,CC Sabathia,At KCA,0,0,1,0,0,7.666667,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,2009-04-11,Horacio Ramirez,Vs. NYA,0,0,0,1,0,4.333333,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,2009-04-11,Eric Stults,At ARI,0,0,1,0,0,5.333333,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,2009-04-11,Brad Penny,At LAA,0,0,1,0,0,6.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,2009-04-11,Jeff Niemann,At BAL,0,0,0,1,0,5.333333,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,2009-04-11,Felix Hernandez,At OAK,0,0,0,0,0,5.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,2009-04-11,Carlos Zambrano,At MIL,0,0,0,0,0,6.000000,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2009-04-12,Ian Snell,At CIN,0,0,0,1,0,6.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
pitchlogs['FIPnumerator'] = 13*pitchlogs['AvgHR'] + 3*(pitchlogs['AvgBB']+pitchlogs['AvgHBP']) - 2*pitchlogs['AvgK']
pitchlogs['AvgFIPnoConst'] = pitchlogs['FIPnumerator']/pitchlogs['AvgIP']

In [25]:
pitchlogs.replace(np.inf,np.nan, inplace=True)

In [26]:
pitchlogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48596 entries, 0 to 48595
Data columns (total 38 columns):
Game Date        48596 non-null datetime64[ns]
Pitcher          48596 non-null object
Opponent         48596 non-null object
CG               48596 non-null int64
GF               48596 non-null int64
W                48596 non-null int64
L                48596 non-null int64
Sho              48596 non-null int64
IP               48596 non-null float64
H                48596 non-null int64
R                48596 non-null int64
ER               48596 non-null int64
HR               48596 non-null int64
BB               48596 non-null int64
K                48596 non-null int64
HBP              48596 non-null int64
BK               48596 non-null int64
WP               48596 non-null int64
PitchAbbrev      48596 non-null object
Opp              48596 non-null object
pctCG            48446 non-null float64
pctGF            48446 non-null float64
pctW             48446 non-null float64
pctL             48446 non-null float64
pctSho           48446 non-null float64
AvgIP            48446 non-null float64
AvgH             48446 non-null float64
AvgR             48446 non-null float64
AvgER            48446 non-null float64
AvgHR            48446 non-null float64
AvgBB            48446 non-null float64
AvgK             48446 non-null float64
AvgHBP           48446 non-null float64
AvgBK            48446 non-null float64
AvgWP            48446 non-null float64
AvgERA           48446 non-null float64
FIPnumerator     48446 non-null float64
AvgFIPnoConst    48446 non-null float64
dtypes: datetime64[ns](1), float64(19), int64(14), object(4)
memory usage: 14.1+ MB

In [27]:
pitchlogs[['AvgERA','AvgFIPnoConst']].describe()

             AvgERA  AvgFIPnoConst
count  48446.000000   48446.000000
mean       4.131073       1.034420
std        1.463543       1.012233
min        0.000000      -2.700000
25%        3.182510       0.373802
50%        3.970588       0.961165
75%        4.858131       1.584396
max       34.500000       8.742857

In [28]:
highERA = pitchlogs[pitchlogs['AvgERA']>10]
print(highERA.shape)
highERA[['Game Date', 'Pitcher', 'IP', 'ER','AvgIP','AvgER','AvgERA']].head(10)

(190, 38)

     Game Date          Pitcher        IP  ER     AvgIP     AvgER     AvgERA
161 2009-04-12      Scott Olsen  5.000000   5  3.900000  6.200000  14.307692
202 2009-04-13    Brian Moehler  2.333333   5  4.111111  4.583333  10.033784
226 2009-04-14      Carl Pavano  6.000000   4  3.619048  5.214286  12.967105
248 2009-04-15      Kris Benson  6.000000   4  4.979167  5.750000  10.393305
255 2009-04-15     Oliver Perez  6.000000   1  4.729167  5.625000  10.704846
280 2009-04-17      Cole Hamels  6.000000   5  4.433333  5.150000  10.454887
322 2009-04-18      Scott Olsen  7.000000   2  4.466667  5.500000  11.082090
333 2009-04-18  Chien-Ming Wang  1.333333   8  3.383838  5.787879  15.394030
348 2009-04-19      Carl Pavano  6.000000   1  4.250000  5.361111  11.352941
363 2009-04-19   James McDonald  4.333333   0  3.750000  4.350000  10.440000

In [29]:
highERA['Pitcher'].nunique()

118

In [30]:
highERA[['Game Date', 'Pitcher', 'IP', 'ER','AvgIP','AvgER','AvgERA']].tail()

       Game Date       Pitcher        IP  ER     AvgIP     AvgER     AvgERA
44951 2018-05-15  Wei-Yin Chen  4.333333   0  4.111111  4.666667  10.216216
45112 2018-05-21  Jason Vargas  5.000000   0  4.111111  6.333333  13.864865
45369 2018-05-30  Jason Vargas  5.000000   0  4.066667  4.800000  10.622951
45423 2018-06-01   Sergio Romo  1.333333   0  0.833333  1.000000  10.800000
47745 2018-08-30     Cody Reed  4.666667   1  3.517147  4.232510  10.830538

In [31]:
pitchlogs[pitchlogs.Pitcher == 'Jason Vargas']

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,...,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA,FIPnumerator,AvgFIPnoConst
961,2009-05-12,Jason Vargas,At TEX,0,0,0,0,0,5.000000,5,...,3.354839,1.193548,1.677419,5.064516,0.129032,0.000000,0.096774,5.707317,10.806452,2.042683
1112,2009-05-17,Jason Vargas,Vs. BOS,0,0,0,0,0,5.333333,7,...,2.175676,0.878378,2.256757,3.648649,0.121622,0.013514,0.054054,3.640704,11.256757,2.092965
1226,2009-05-22,Jason Vargas,Vs. SFN,0,0,0,0,0,7.000000,2,...,1.483333,0.783333,2.283333,2.883333,0.116667,0.025000,0.091667,2.411440,11.616667,2.098344
1416,2009-05-29,Jason Vargas,At LAA,0,0,1,0,0,6.333333,4,...,1.000000,1.000000,2.000000,3.666667,0.000000,0.000000,0.000000,1.557692,11.666667,2.019231
1572,2009-06-03,Jason Vargas,Vs. BAL,0,0,0,0,0,5.333333,8,...,1.250000,1.000000,2.000000,3.250000,0.000000,0.000000,0.000000,1.901408,12.500000,2.112676
1733,2009-06-09,Jason Vargas,At BAL,0,0,0,1,0,5.666667,7,...,1.400000,1.000000,1.600000,3.000000,0.000000,0.000000,0.000000,2.172414,11.800000,2.034483
1856,2009-06-14,Jason Vargas,At COL,0,0,0,1,0,4.666667,12,...,1.666667,1.000000,1.500000,3.166667,0.000000,0.000000,0.000000,2.596154,11.166667,1.932692
2013,2009-06-20,Jason Vargas,Vs. ARI,0,0,1,0,0,7.000000,3,...,2.428571,0.857143,1.571429,3.285714,0.000000,0.000000,0.000000,3.889831,9.285714,1.652542
2169,2009-06-26,Jason Vargas,At LAN,0,0,0,1,0,4.666667,9,...,2.250000,0.875000,1.375000,3.375000,0.000000,0.000000,0.000000,3.496403,8.750000,1.510791
2341,2009-07-02,Jason Vargas,At NYA,0,0,0,0,0,4.000000,4,...,2.555556,1.000000,1.333333,3.222222,0.000000,0.000000,0.000000,4.058824,10.555556,1.862745
2497,2009-07-08,Jason Vargas,Vs. BAL,0,0,0,0,0,5.000000,3,...,2.700000,1.000000,1.300000,3.100000,0.000000,0.000000,0.000000,4.418182,10.700000,1.945455
2932,2009-07-26,Jason Vargas,Vs. CLE,0,0,0,1,0,4.000000,7,...,2.454545,0.909091,1.636364,3.363636,0.000000,0.000000,0.000000,4.050000,10.000000,1.833333
3068,2009-07-31,Jason Vargas,At TEX,0,0,0,1,0,5.000000,7,...,2.750000,0.916667,1.583333,3.250000,0.166667,0.000000,0.083333,4.640625,10.666667,2.000000
3223,2009-08-06,Jason Vargas,At KCA,0,0,0,1,0,7.000000,9,...,2.923077,1.000000,1.538462,3.153846,0.230769,0.000000,0.076923,4.956522,12.000000,2.260870
4979,2010-04-09,Jason Vargas,At TEX,0,0,0,1,0,5.333333,8,...,3.214286,1.000000,1.642857,2.928571,0.214286,0.000000,0.071429,5.328947,12.714286,2.342105
5100,2010-04-14,Jason Vargas,Vs. OAK,0,0,1,0,0,6.000000,5,...,4.107143,1.000000,1.321429,3.964286,0.107143,0.000000,0.035714,6.869469,9.357143,1.738938
5261,2010-04-20,Jason Vargas,Vs. BAL,0,0,1,0,0,7.000000,3,...,3.404762,1.000000,0.880952,4.642857,0.071429,0.000000,0.023810,5.484375,6.571429,1.176136
5415,2010-04-25,Jason Vargas,At CHA,0,0,0,0,0,6.666667,4,...,2.666667,0.666667,1.000000,5.333333,0.000000,0.000000,0.000000,3.927273,1.000000,0.163636
5639,2010-05-04,Jason Vargas,Vs. TBA,0,0,0,1,0,6.666667,4,...,2.500000,0.500000,1.500000,4.750000,0.250000,0.000000,0.000000,3.600000,2.250000,0.360000
5796,2010-05-09,Jason Vargas,Vs. LAA,0,0,1,0,0,7.333333,4,...,2.600000,0.600000,1.800000,5.400000,0.200000,0.000000,0.000000,3.694737,3.000000,0.473684
5947,2010-05-15,Jason Vargas,At TBA,0,0,0,0,0,7.000000,4,...,2.166667,0.500000,1.833333,5.166667,0.166667,0.000000,0.000000,3.000000,2.166667,0.333333
6088,2010-05-20,Jason Vargas,Vs. TOR,0,0,0,0,0,6.666667,5,...,2.142857,0.428571,1.857143,4.714286,0.142857,0.000000,0.000000,2.934783,2.142857,0.326087
6252,2010-05-26,Jason Vargas,Vs. DET,0,0,0,0,0,5.000000,7,...,2.250000,0.500000,1.875000,4.375000,0.125000,0.000000,0.000000,3.075949,3.750000,0.569620
6413,2010-06-01,Jason Vargas,Vs. MIN,0,0,1,0,0,7.000000,6,...,2.222222,0.555556,1.888889,4.222222,0.111111,0.111111,0.000000,3.121387,4.777778,0.745665
6542,2010-06-06,Jason Vargas,Vs. LAA,0,0,0,0,0,6.000000,10,...,2.100000,0.600000,2.000000,4.000000,0.100000,0.100000,0.000000,2.922680,6.100000,0.943299
6680,2010-06-11,Jason Vargas,At SDN,0,0,0,0,0,6.000000,7,...,2.181818,0.636364,1.818182,4.000000,0.090909,0.090909,0.000000,3.056604,6.000000,0.933962
6824,2010-06-16,Jason Vargas,At SLN,0,0,1,0,0,7.666667,5,...,2.166667,0.583333,1.833333,4.083333,0.083333,0.083333,0.000000,3.052174,5.166667,0.808696
6957,2010-06-22,Jason Vargas,Vs. CHN,0,0,1,0,0,7.000000,4,...,2.076923,0.538462,1.692308,4.076923,0.076923,0.076923,0.076923,2.881423,4.153846,0.640316
7112,2010-06-27,Jason Vargas,At MIL,0,0,0,1,0,5.000000,7,...,1.928571,0.500000,1.642857,4.285714,0.071429,0.071429,0.071429,2.660584,3.071429,0.470803
7271,2010-07-03,Jason Vargas,At DET,0,0,0,1,0,4.333333,8,...,2.000000,0.533333,1.600000,4.133333,0.066667,0.066667,0.066667,2.802768,3.666667,0.570934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42359,2017-08-13,Jason Vargas,At CHA,0,0,1,0,0,6.000000,6,...,2.227273,0.772727,1.681818,4.318182,0.136364,0.045455,0.272727,3.401028,6.863636,1.164524
42531,2017-08-19,Jason Vargas,Vs. CLE,0,0,0,1,0,4.666667,6,...,2.260870,0.782609,1.695652,4.434783,0.173913,0.043478,0.260870,3.449631,6.913043,1.171990
42698,2017-08-25,Jason Vargas,At CLE,0,0,0,1,0,5.000000,6,...,2.333333,0.750000,1.750000,4.541667,0.166667,0.041667,0.250000,3.591449,6.416667,1.097387
42845,2017-08-30,Jason Vargas,Vs. TBA,0,0,0,1,0,6.000000,7,...,2.400000,0.760000,1.760000,4.440000,0.160000,0.040000,0.240000,3.715596,6.760000,1.162844
43022,2017-09-05,Jason Vargas,At DET,0,0,0,1,0,2.000000,6,...,2.500000,0.846154,1.730769,4.307692,0.153846,0.038462,0.230769,3.865639,8.038462,1.381057
43142,2017-09-10,Jason Vargas,Vs. MIN,0,0,1,0,0,5.000000,4,...,2.666667,0.888889,1.703704,4.185185,0.185185,0.037037,0.222222,4.226087,8.851852,1.558696
43264,2017-09-15,Jason Vargas,At CLE,0,0,1,0,0,5.000000,5,...,2.607143,0.857143,1.678571,4.142857,0.178571,0.035714,0.214286,4.149474,8.428571,1.490526
43439,2017-09-21,Jason Vargas,At TOR,0,0,1,0,0,6.333333,2,...,2.620690,0.862069,1.724138,4.137931,0.172414,0.034483,0.206897,4.187755,8.620690,1.530612
43572,2017-09-26,Jason Vargas,Vs. DET,0,0,1,0,0,6.000000,5,...,2.533333,0.833333,1.766667,4.233333,0.166667,0.033333,0.200000,4.031434,8.166667,1.444008
43733,2017-10-01,Jason Vargas,Vs. ARI,0,0,0,1,0,4.000000,6,...,2.483871,0.806452,1.741935,4.193548,0.161290,0.032258,0.193548,3.944972,7.806452,1.377609
44508,2018-04-28,Jason Vargas,At SDN,0,0,0,1,0,3.666667,9,...,2.593750,0.843750,1.812500,4.187500,0.156250,0.031250,0.187500,4.157699,8.500000,1.513915
44648,2018-05-03,Jason Vargas,Vs. ATL,0,0,0,1,0,4.666667,11,...,5.796875,1.421875,2.406250,4.593750,0.078125,0.015625,0.093750,11.242424,16.750000,3.609428
44775,2018-05-08,Jason Vargas,At CIN,0,0,0,1,0,4.000000,6,...,5.864583,1.947917,2.270833,4.062500,0.052083,0.010417,0.062500,11.352502,24.166667,5.197909
45112,2018-05-21,Jason Vargas,Vs. MIA,0,0,1,0,0,5.000000,2,...,6.333333,1.666667,2.333333,3.000000,0.333333,0.000000,0.000000,13.864865,23.666667,5.756757
45261,2018-05-26,Jason Vargas,At MIL,0,0,0,0,0,3.000000,6,...,4.750000,1.250000,2.000000,4.000000,0.250000,0.000000,0.000000,9.865385,15.000000,3.461538
45369,2018-05-30,Jason Vargas,At ATL,0,0,1,0,0,5.000000,2,...,4.800000,1.200000,2.000000,4.200000,0.200000,0.000000,0.000000,10.622951,13.800000,3.393443
45525,2018-06-05,Jason Vargas,Vs. BAL,0,0,0,1,0,5.000000,5,...,4.000000,1.000000,1.833333,3.833333,0.166667,0.000000,0.000000,8.526316,11.333333,2.684211
45761,2018-06-14,Jason Vargas,At ARI,0,0,0,1,0,5.000000,5,...,3.714286,0.857143,1.714286,3.857143,0.142857,0.000000,0.000000,7.714286,9.000000,2.076923
45886,2018-06-19,Jason Vargas,At COL,0,0,0,1,0,2.333333,9,...,3.625000,1.000000,1.750000,4.000000,0.250000,0.000000,0.000000,7.386792,11.000000,2.490566
46830,2018-07-27,Jason Vargas,At PIT,0,0,0,0,0,4.333333,3,...,4.000000,1.222222,1.555556,3.555556,0.333333,0.000000,0.000000,8.601770,14.444444,3.451327
46977,2018-08-02,Jason Vargas,Vs. ATL,0,0,0,1,0,5.000000,6,...,3.900000,1.200000,1.700000,3.500000,0.300000,0.000000,0.000000,8.357143,14.600000,3.476190
47120,2018-08-07,Jason Vargas,Vs. CIN,0,0,0,1,0,0.333333,3,...,3.909091,1.090909,1.818182,3.818182,0.272727,0.000000,0.000000,8.234043,12.818182,3.000000
47303,2018-08-14,Jason Vargas,At BAL,0,0,0,0,0,6.000000,5,...,3.833333,1.000000,1.666667,3.583333,0.250000,0.000000,0.000000,8.746479,11.583333,2.936620
47465,2018-08-19,Jason Vargas,At PHI,0,0,1,0,0,5.333333,6,...,3.692308,1.000000,1.769231,3.384615,0.230769,0.000000,0.000000,8.100000,12.230769,2.981250
47566,2018-08-24,Jason Vargas,Vs. WSH,0,0,1,0,0,6.000000,3,...,3.571429,1.000000,1.642857,3.357143,0.214286,0.000000,0.000000,7.670455,11.857143,2.829545
47728,2018-08-29,Jason Vargas,At CHN,0,0,1,0,0,5.333333,4,...,3.333333,0.933333,1.533333,3.666667,0.200000,0.000000,0.000000,6.958763,10.000000,2.319588
47887,2018-09-04,Jason Vargas,At LAN,0,0,0,1,0,3.333333,6,...,3.187500,0.875000,1.562500,3.812500,0.250000,0.000000,0.000000,6.557143,9.187500,2.100000
48090,2018-09-13,Jason Vargas,Vs. MIA,0,0,1,0,0,6.000000,3,...,3.235294,0.941176,1.529412,3.705882,0.235294,0.000000,0.000000,6.750000,10.117647,2.345455
48296,2018-09-20,Jason Vargas,At WSH,0,0,0,0,0,5.666667,3,...,3.166667,0.944444,1.555556,3.888889,0.277778,0.000000,0.000000,6.466387,10.000000,2.268908
48487,2018-09-27,Jason Vargas,Vs. ATL,0,0,1,0,0,7.000000,3,...,3.105263,0.947368,1.578947,4.105263,0.263158,0.000000,0.000000,6.247059,9.631579,2.152941

In [32]:
pitchlogs[pitchlogs.Pitcher == 'Wei-Yin Chen']

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,...,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA,FIPnumerator,AvgFIPnoConst
14714,2012-04-10,Wei-Yin Chen,Vs. NYA,0,0,0,0,0,5.666667,7,...,3.432099,0.882716,2.481481,4.388889,0.327160,0.000000,0.179012,5.386437,11.123457,1.939720
14879,2012-04-17,Wei-Yin Chen,At CHA,0,0,1,0,0,5.333333,6,...,2.265432,0.839506,1.435185,5.154321,0.669753,0.012346,0.098765,3.396983,6.919753,1.152897
15035,2012-04-22,Wei-Yin Chen,At LAA,0,0,0,0,0,6.333333,5,...,2.187243,0.541152,1.553498,4.833333,0.405350,0.004115,0.397119,3.426985,3.244856,0.564896
15176,2012-04-28,Wei-Yin Chen,Vs. OAK,0,0,1,0,0,7.000000,6,...,1.666667,0.333333,2.000000,5.000000,0.333333,0.000000,0.333333,2.596154,1.333333,0.230769
15342,2012-05-04,Wei-Yin Chen,At BOS,0,0,0,0,0,5.000000,5,...,1.500000,0.500000,2.000000,4.750000,0.250000,0.000000,0.250000,2.219178,3.750000,0.616438
15516,2012-05-10,Wei-Yin Chen,Vs. TEX,0,0,1,0,0,7.666667,6,...,1.800000,0.400000,2.200000,4.600000,0.200000,0.000000,0.200000,2.761364,3.200000,0.545455
15644,2012-05-15,Wei-Yin Chen,Vs. NYA,0,0,1,0,0,7.000000,4,...,1.666667,0.333333,2.000000,4.666667,0.166667,0.000000,0.166667,2.432432,1.500000,0.243243
15804,2012-05-20,Wei-Yin Chen,At WSH,0,0,0,1,0,4.333333,8,...,1.714286,0.428571,2.000000,4.571429,0.142857,0.000000,0.142857,2.454545,2.857143,0.454545
15953,2012-05-26,Wei-Yin Chen,Vs. KCA,0,0,0,0,0,6.000000,6,...,2.250000,0.625000,2.125000,4.625000,0.125000,0.000000,0.125000,3.351724,5.625000,0.931034
16122,2012-06-01,Wei-Yin Chen,At TBA,0,0,0,1,0,5.666667,5,...,2.222222,0.666667,2.000000,4.666667,0.111111,0.000000,0.111111,3.312883,5.666667,0.938650
16260,2012-06-06,Wei-Yin Chen,At BOS,0,0,1,0,0,7.000000,7,...,2.500000,0.700000,2.200000,4.700000,0.100000,0.000000,0.200000,3.750000,6.600000,1.100000
16394,2012-06-12,Wei-Yin Chen,Vs. PIT,0,0,1,0,0,6.333333,8,...,2.363636,0.636364,2.000000,4.636364,0.090909,0.000000,0.181818,3.492537,5.272727,0.865672
16544,2012-06-17,Wei-Yin Chen,At ATL,0,0,1,0,0,7.000000,6,...,2.500000,0.666667,2.000000,4.583333,0.083333,0.000000,0.166667,3.681818,5.750000,0.940909
16682,2012-06-23,Wei-Yin Chen,Vs. WSH,0,0,0,1,0,5.000000,6,...,2.307692,0.615385,1.923077,4.384615,0.076923,0.000000,0.153846,3.360996,5.230769,0.846473
16827,2012-06-28,Wei-Yin Chen,Vs. CLE,0,0,0,1,0,6.333333,6,...,2.285714,0.642857,1.928571,4.357143,0.071429,0.000000,0.142857,3.375000,5.642857,0.925781
16985,2012-07-03,Wei-Yin Chen,At SEA,0,0,0,0,0,7.333333,2,...,2.533333,0.733333,2.000000,4.266667,0.133333,0.000000,0.133333,3.730909,7.400000,1.210909
17122,2012-07-08,Wei-Yin Chen,At LAA,0,0,0,1,0,4.000000,5,...,2.500000,0.750000,1.875000,4.562500,0.125000,0.000000,0.125000,3.636364,6.625000,1.070707
17191,2012-07-14,Wei-Yin Chen,Vs. DET,0,0,0,0,0,6.000000,2,...,2.647059,0.882353,1.941176,4.588235,0.117647,0.000000,0.117647,3.932039,8.470588,1.398058
17336,2012-07-19,Wei-Yin Chen,At MIN,0,0,1,0,0,7.000000,6,...,2.555556,0.833333,1.944444,4.611111,0.111111,0.000000,0.111111,3.798165,7.777778,1.284404
17471,2012-07-24,Wei-Yin Chen,Vs. TBA,0,0,0,1,0,6.666667,4,...,2.578947,0.789474,1.894737,4.631579,0.157895,0.000000,0.105263,3.801724,7.157895,1.172414
17607,2012-07-29,Wei-Yin Chen,Vs. OAK,0,0,1,0,0,5.666667,3,...,2.600000,0.800000,1.950000,4.650000,0.150000,0.050000,0.100000,3.815217,7.400000,1.206522
17783,2012-08-04,Wei-Yin Chen,At TBA,0,0,1,0,0,7.000000,5,...,2.476190,0.761905,2.047619,5.000000,0.142857,0.047619,0.095238,3.646753,6.476190,1.059740
17905,2012-08-09,Wei-Yin Chen,Vs. KCA,0,0,0,1,0,4.666667,9,...,2.363636,0.727273,2.000000,4.954545,0.136364,0.045455,0.090909,3.458128,5.954545,0.967980
18050,2012-08-14,Wei-Yin Chen,Vs. BOS,0,0,1,0,0,6.000000,9,...,2.565217,0.782609,1.956522,4.956522,0.130435,0.043478,0.086957,3.792857,6.521739,1.071429
18198,2012-08-19,Wei-Yin Chen,At DET,0,0,1,0,0,5.000000,7,...,2.500000,0.750000,1.916667,4.916667,0.125000,0.041667,0.083333,3.698630,6.041667,0.993151
18412,2012-08-27,Wei-Yin Chen,Vs. CHA,0,0,0,0,0,6.000000,4,...,2.600000,0.800000,1.920000,4.880000,0.120000,0.040000,0.080000,3.874172,6.760000,1.119205
18546,2012-09-01,Wei-Yin Chen,At NYA,0,0,0,1,0,6.666667,4,...,2.538462,0.807692,1.884615,5.000000,0.115385,0.038462,0.076923,3.783439,6.500000,1.076433
18696,2012-09-07,Wei-Yin Chen,Vs. NYA,0,0,0,1,0,4.666667,6,...,2.555556,0.814815,1.888889,4.962963,0.111111,0.037037,0.074074,3.794297,6.666667,1.099796
18863,2012-09-13,Wei-Yin Chen,Vs. TBA,0,0,0,0,0,7.333333,8,...,2.714286,0.892857,1.857143,4.928571,0.142857,0.035714,0.071429,4.063366,7.750000,1.289109
18982,2012-09-18,Wei-Yin Chen,At SEA,0,0,0,0,0,5.333333,6,...,2.689655,0.862069,1.827586,5.000000,0.137931,0.034483,0.068966,3.996205,7.103448,1.172676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39145,2017-04-13,Wei-Yin Chen,Vs. NYN,0,0,0,0,0,3.000000,7,...,2.045455,0.500000,1.045455,4.772727,0.068182,0.000000,0.022727,3.172324,0.295455,0.050914
39290,2017-04-18,Wei-Yin Chen,At SEA,0,0,1,0,0,7.000000,0,...,3.363636,1.000000,0.696970,4.181818,0.045455,0.000000,0.015152,6.217842,6.863636,1.409751
39493,2017-04-26,Wei-Yin Chen,At PHI,0,0,0,1,0,5.000000,7,...,2.333333,0.666667,1.000000,3.333333,0.333333,0.000000,0.000000,3.937500,6.000000,1.125000
39615,2017-05-01,Wei-Yin Chen,Vs. TBA,0,0,0,0,0,6.000000,2,...,2.750000,0.750000,1.250000,3.250000,0.250000,0.000000,0.250000,4.714286,7.750000,1.476190
44492,2018-04-28,Wei-Yin Chen,Vs. COL,0,0,1,0,0,5.333333,4,...,2.600000,0.600000,1.800000,4.000000,0.200000,0.000000,0.200000,4.333333,5.800000,1.074074
44660,2018-05-04,Wei-Yin Chen,At CIN,0,0,0,1,0,4.000000,5,...,1.800000,0.800000,1.900000,3.500000,0.600000,0.000000,0.100000,3.018634,10.900000,2.031056
44815,2018-05-09,Wei-Yin Chen,At CHN,0,0,0,1,0,3.000000,7,...,2.533333,1.200000,2.600000,3.000000,0.400000,0.000000,0.066667,4.642534,18.600000,3.787330
44951,2018-05-15,Wei-Yin Chen,Vs. LAN,0,0,0,0,0,4.333333,3,...,4.666667,2.000000,2.666667,2.000000,0.333333,0.000000,0.000000,10.216216,31.000000,7.540541
45087,2018-05-20,Wei-Yin Chen,At ATL,0,0,0,0,0,5.333333,5,...,3.500000,1.500000,2.750000,2.250000,0.250000,0.000000,0.000000,7.560000,24.000000,5.760000
45236,2018-05-26,Wei-Yin Chen,Vs. WSH,0,0,0,0,0,7.333333,3,...,3.200000,1.200000,2.400000,2.800000,0.200000,0.000000,0.000000,6.545455,17.800000,4.045455
45386,2018-05-31,Wei-Yin Chen,At SDN,0,0,0,1,0,1.666667,4,...,2.833333,1.166667,2.333333,3.333333,0.166667,0.000000,0.000000,5.215909,16.000000,3.272727
45551,2018-06-06,Wei-Yin Chen,At SLN,0,0,0,0,0,4.333333,6,...,3.000000,1.142857,2.285714,3.428571,0.142857,0.000000,0.000000,6.096774,15.285714,3.451613
45674,2018-06-11,Wei-Yin Chen,Vs. SFN,0,0,0,0,0,4.333333,6,...,2.875000,1.000000,2.250000,3.250000,0.125000,0.000000,0.125000,5.858491,13.625000,3.084906
45815,2018-06-16,Wei-Yin Chen,At BAL,0,0,1,0,0,6.000000,8,...,3.000000,0.888889,2.444444,3.444444,0.111111,0.111111,0.111111,6.126050,12.333333,2.798319
45964,2018-06-22,Wei-Yin Chen,At COL,0,0,0,1,0,4.000000,9,...,3.000000,0.900000,2.300000,3.300000,0.100000,0.100000,0.100000,5.912409,12.300000,2.693431
46108,2018-06-27,Wei-Yin Chen,Vs. ARI,0,0,0,1,0,6.000000,5,...,3.363636,0.909091,2.181818,3.272727,0.090909,0.090909,0.181818,6.704698,12.090909,2.677852
46253,2018-07-02,Wei-Yin Chen,Vs. TBA,0,0,0,0,0,6.000000,3,...,3.166667,0.833333,2.083333,3.416667,0.083333,0.083333,0.166667,6.143713,10.500000,2.263473
46367,2018-07-07,Wei-Yin Chen,At WSH,0,0,0,1,0,4.333333,7,...,2.923077,0.769231,1.923077,3.538462,0.076923,0.076923,0.153846,5.545946,8.923077,1.881081
46534,2018-07-13,Wei-Yin Chen,Vs. PHI,0,0,0,1,0,6.000000,5,...,3.214286,0.785714,1.928571,3.500000,0.071429,0.071429,0.142857,6.136364,9.214286,1.954545
46737,2018-07-24,Wei-Yin Chen,Vs. ATL,0,0,1,0,0,6.000000,5,...,3.066667,0.733333,1.866667,3.800000,0.066667,0.066667,0.133333,5.750000,7.733333,1.611111
46904,2018-07-30,Wei-Yin Chen,At ATL,0,0,0,1,0,5.000000,5,...,3.062500,0.750000,1.937500,3.812500,0.062500,0.062500,0.125000,5.653846,8.125000,1.666667
47103,2018-08-06,Wei-Yin Chen,Vs. SLN,0,0,1,0,0,5.666667,1,...,3.176471,0.823529,2.000000,3.647059,0.058824,0.058824,0.117647,5.855422,9.588235,1.963855
47257,2018-08-12,Wei-Yin Chen,Vs. NYN,0,0,0,1,0,6.000000,4,...,3.000000,0.777778,2.000000,3.666667,0.055556,0.055556,0.111111,5.481203,8.944444,1.815789
47416,2018-08-18,Wei-Yin Chen,At WSH,0,0,0,0,0,5.666667,5,...,2.947368,0.842105,2.000000,3.789474,0.052632,0.052632,0.157895,5.323944,9.526316,1.911972
47596,2018-08-25,Wei-Yin Chen,Vs. ATL,0,0,1,0,0,6.000000,6,...,2.900000,0.850000,1.900000,3.750000,0.050000,0.050000,0.150000,5.202658,9.400000,1.873754
47786,2018-09-01,Wei-Yin Chen,Vs. TOR,0,0,1,0,0,8.000000,3,...,2.761905,0.809524,1.904762,4.047619,0.047619,0.047619,0.142857,4.909091,8.285714,1.636364
47984,2018-09-08,Wei-Yin Chen,At PIT,0,0,0,1,0,4.000000,5,...,2.681818,0.772727,1.818182,4.181818,0.045455,0.045455,0.136364,4.644315,7.272727,1.399417
48132,2018-09-14,Wei-Yin Chen,At PHI,0,0,0,1,0,4.000000,7,...,2.695652,0.739130,1.826087,4.260870,0.043478,0.043478,0.173913,4.715493,6.695652,1.301408
48338,2018-09-21,Wei-Yin Chen,Vs. CIN,0,0,0,0,0,7.000000,3,...,2.791667,0.791667,1.833333,4.250000,0.041667,0.041667,0.166667,4.929155,7.416667,1.455041
48455,2018-09-26,Wei-Yin Chen,At WSH,0,0,0,1,0,4.000000,7,...,2.680000,0.760000,1.760000,4.400000,0.040000,0.040000,0.160000,4.662371,6.480000,1.252577

In [33]:
#first start fpr each pitcher from 2009-2018 season
indexes = []
unique_starters =  pitchlogs['Pitcher'].unique()
for starter in unique_starters.flatten():
    idx = list(pitchlogs['Pitcher']).index(starter)
    indexes.append(idx)

In [34]:
first_start = pitchlogs.iloc[indexes,:]
first_start[['Game Date', 'Pitcher', 'IP', 'H', 'ER', 'BB', 'K']].head(10)

   Game Date         Pitcher        IP  H  ER  BB  K
0 2009-04-05     Brett Myers  6.000000  8   4   1  6
1 2009-04-05      Derek Lowe  8.000000  2   0   0  4
2 2009-04-06    Joe Saunders  6.666667  3   0   2  2
3 2009-04-06     Paul Maholm  6.666667  7   1   1  1
4 2009-04-06   Johan Santana  5.666667  3   1   4  7
5 2009-04-06     John Lannan  3.000000  6   6   0  1
6 2009-04-06   Hiroki Kuroda  5.666667  4   1   1  2
7 2009-04-06      Roy Oswalt  7.000000  7   3   1  2
8 2009-04-06   Ricky Nolasco  6.000000  7   5   0  6
9 2009-04-06  Jeremy Guthrie  6.000000  7   3   3  3

Since we started collecting data in 2009, most pitchers whose first start in the df was in early April 2004,  were not actually having their first career start.

In [35]:
apr2009 = first_start[(first_start['Game Date'].dt.year == 2009) & (first_start['Game Date'].dt.month == 4)]
apr2009.shape

(173, 38)

In [36]:
pitchlogs[(pitchlogs['Game Date'].dt.year == 2009) & (pitchlogs['Game Date'].dt.month == 4)].shape[0]/2

323.0

There were 323 games played in April and 173 pitchers made their first starts (since 2009).
For most of these people it wasn't actually their first start of their career so, it might not make sense to leave them in the calculations.

In [37]:
earlyApr2009 = apr2009[apr2009['Game Date'].dt.day<20]
earlyApr2009.shape

(160, 38)

In [38]:
lateApr2009 = apr2009[apr2009['Game Date'].dt.day>=20]
lateApr2009

,Game Date,Pitcher,Opponent,CG,GF,W,L,Sho,IP,H,...,AvgER,AvgHR,AvgBB,AvgK,AvgHBP,AvgBK,AvgWP,AvgERA,FIPnumerator,AvgFIPnoConst
367,2009-04-20,Jordan Zimmermann,Vs. ATL,0,0,1,0,0,6.000000,6,...,3.333333,0.833333,2.083333,3.000000,0.166667,0.083333,0.000000,5.400000,11.583333,2.085000
370,2009-04-20,Justin Masterson,Vs. BAL,0,0,1,0,0,5.333333,4,...,4.250000,0.583333,3.000000,3.083333,0.166667,0.000000,0.333333,7.443243,10.916667,2.124324
402,2009-04-21,Brad Bergesen,Vs. CHA,0,0,1,0,0,5.666667,4,...,3.333333,0.916667,2.750000,4.250000,0.250000,0.000000,0.083333,5.268293,12.416667,2.180488
427,2009-04-22,Brian Bannister,At CLE,0,0,1,0,0,6.000000,4,...,3.071429,0.714286,3.214286,4.857143,0.285714,0.000000,0.642857,5.425234,10.071429,1.976636
447,2009-04-23,Matt Palmer,Vs. DET,0,0,1,0,0,6.000000,6,...,3.642857,0.928571,2.071429,3.928571,0.285714,0.000000,0.142857,5.530120,11.285714,1.903614
494,2009-04-25,Anthony Ortega,Vs. SEA,0,0,0,1,0,5.000000,5,...,2.882353,0.647059,1.588235,3.529412,0.176471,0.000000,0.235294,4.186709,6.647059,1.072785
498,2009-04-25,Brian Burres,At CHA,0,0,0,1,0,4.333333,7,...,3.000000,0.750000,2.562500,4.437500,0.250000,0.000000,0.062500,4.645161,9.312500,1.602151
499,2009-04-25,Mitchell Boggs,Vs. CHN,0,0,1,0,0,5.666667,6,...,2.533333,0.466667,2.600000,3.733333,0.333333,0.066667,0.066667,4.222222,7.400000,1.370370
500,2009-04-25,Scott Feldman,At BAL,0,0,1,0,0,5.000000,4,...,4.000000,0.588235,2.882353,2.882353,0.176471,0.058824,0.235294,6.876404,11.058824,2.112360
543,2009-04-26,Graham Taylor,Vs. PHI,0,0,0,1,0,3.666667,4,...,2.125000,0.562500,1.875000,3.250000,0.187500,0.000000,0.125000,3.187500,7.000000,1.166667
563,2009-04-27,Jason Hammel,Vs. SDN,0,0,0,0,0,3.000000,7,...,3.000000,0.722222,2.500000,4.166667,0.111111,0.000000,0.166667,4.718447,8.888889,1.553398
572,2009-04-28,Phil Hughes,At DET,0,0,1,0,0,6.000000,2,...,3.631579,0.947368,1.842105,4.315789,0.263158,0.000000,0.105263,5.203911,10.000000,1.592179
601,2009-04-28,Chad Gaudin,At COL,0,0,0,0,0,5.000000,3,...,3.611111,0.833333,2.666667,4.833333,0.166667,0.000000,0.166667,6.335740,9.666667,1.884477

In [39]:
print('Number of First Starts per Season')
for year in range(2009,2019):
    num_fs = first_start[first_start['Game Date'].dt.year == year].shape[0]
    print(year, ': ', num_fs)

Number of First Starts per Season
2009 :  306
2010 :  66
2011 :  66
2012 :  64
2013 :  64
2014 :  59
2015 :  77
2016 :  69
2017 :  73
2018 :  102

We see there were a lot more pitchers making their first start in 2009 compared to the other seasons- again, this we collected data starting in the 2009 season, so for many of them it wasn't actually their first start.  <br>
The reason there are so many first time starting pitchers in the 2018 season is because they started using "openers."

In [40]:
first_start[['IP', 'H', 'ER', 'K', 'BB', 'HBP', 'WP']].describe()

,IP,H,ER,K,BB,HBP,WP
count,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000
mean,4.863284,4.997886,2.606765,3.567653,2.001057,0.221987,0.179704
std,1.499554,2.258903,1.988782,2.157838,1.380514,0.472954,0.454781
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000
50%,5.000000,5.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,6.000000,7.000000,4.000000,5.000000,3.000000,0.000000,0.000000
max,8.333333,12.000000,9.000000,14.000000,7.000000,3.000000,4.000000

In [41]:
fs_noApr2009 = first_start.drop(apr2009.index,axis=0)
fs_noApr2009.shape

(773, 38)

In [42]:
fs_noApr2009[['IP', 'H', 'ER', 'K', 'BB', 'HBP', 'WP']].describe()

,IP,H,ER,K,BB,HBP,WP
count,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000
mean,4.739974,4.865459,2.531695,3.486417,1.945666,0.225097,0.177232
std,1.530096,2.288745,1.957606,2.141711,1.394715,0.478601,0.456274
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000
50%,5.000000,5.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,6.000000,6.000000,4.000000,5.000000,3.000000,0.000000,0.000000
max,8.333333,12.000000,9.000000,14.000000,7.000000,3.000000,4.000000

In [43]:
pitchlogs[['IP', 'H', 'ER', 'K', 'BB', 'HBP', 'WP']].describe()

,IP,H,ER,K,BB,HBP,WP
count,48596.000000,48596.000000,48596.000000,48596.000000,48596.000000,48596.000000,48596.000000
mean,5.790346,5.762820,2.687217,4.700942,1.883859,0.206807,0.189357
std,1.463569,2.248152,1.990737,2.513381,1.359948,0.461850,0.452623
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,4.000000,1.000000,3.000000,1.000000,0.000000,0.000000
50%,6.000000,6.000000,2.000000,4.000000,2.000000,0.000000,0.000000
75%,7.000000,7.000000,4.000000,6.000000,3.000000,0.000000,0.000000
max,10.000000,15.000000,13.000000,20.000000,9.000000,4.000000,5.000000

In [44]:
pitchlogs.replace(np.inf,np.nan, inplace=True)

In [45]:
pitchlogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48596 entries, 0 to 48595
Data columns (total 38 columns):
Game Date        48596 non-null datetime64[ns]
Pitcher          48596 non-null object
Opponent         48596 non-null object
CG               48596 non-null int64
GF               48596 non-null int64
W                48596 non-null int64
L                48596 non-null int64
Sho              48596 non-null int64
IP               48596 non-null float64
H                48596 non-null int64
R                48596 non-null int64
ER               48596 non-null int64
HR               48596 non-null int64
BB               48596 non-null int64
K                48596 non-null int64
HBP              48596 non-null int64
BK               48596 non-null int64
WP               48596 non-null int64
PitchAbbrev      48596 non-null object
Opp              48596 non-null object
pctCG            48446 non-null float64
pctGF            48446 non-null float64
pctW             48446 non-null float64
pctL             48446 non-null float64
pctSho           48446 non-null float64
AvgIP            48446 non-null float64
AvgH             48446 non-null float64
AvgR             48446 non-null float64
AvgER            48446 non-null float64
AvgHR            48446 non-null float64
AvgBB            48446 non-null float64
AvgK             48446 non-null float64
AvgHBP           48446 non-null float64
AvgBK            48446 non-null float64
AvgWP            48446 non-null float64
AvgERA           48446 non-null float64
FIPnumerator     48446 non-null float64
AvgFIPnoConst    48446 non-null float64
dtypes: datetime64[ns](1), float64(19), int64(14), object(4)
memory usage: 14.1+ MB

In [46]:
#Delete columns from gamelogs with starting pitcher info so they don't duplicate when we merge
cols_to_drop = [col for col in gamelogs.columns if col[-2:] in ['_V','_H']]
gamelogs = gamelogs.drop(cols_to_drop, axis=1)

#also delete columns with player IDs and position because we will not be using them
cols_to_drop = [col for col in gamelogs.columns if col.endswith(('Position','erID'))]
gamelogs = gamelogs.drop(cols_to_drop, axis=1)

In [47]:
gamelogs.columns
gamelogs.shape

(24298, 123)

In [48]:
gamelogs_hsp = pd.merge(gamelogs, pitchlogs, how='left', left_on = ['Date', 'HomeSPAbbrev'], right_on=['Game Date', 'PitchAbbrev']) 
gamelogs = pd.merge(gamelogs_hsp, pitchlogs, how='left', left_on = ['Date', 'VisitSPAbbrev'], right_on=['Game Date', 'PitchAbbrev'], suffixes = ['_HSP', '_VSP'])

In [49]:
gamelogs.shape

(24298, 199)

## Calculate Averages for Teams
~to get relief pitchers stats alone~

In [50]:
gamelogs['NumHalfInnings'] = gamelogs['LengthInOuts']/3

In [51]:
def HomeTeamOffenseInnings(lengthinouts, numhalfinnings):
    if lengthinouts % 3 == 0:
        HomeTeamOffenseInnings = numhalfinnings // 2
    else:
        HomeTeamOffenseInnings = numhalfinnings - math.ceil(numhalfinnings/2)
    return HomeTeamOffenseInnings

for idx, game in gamelogs.iterrows():
    gamelogs.loc[idx,'HomeOffenseInnings'] = HomeTeamOffenseInnings(game['LengthInOuts'], game['NumHalfInnings'])

gamelogs['VisitorOffenseInnings'] = gamelogs['NumHalfInnings']-gamelogs['HomeOffenseInnings']
gamelogs['HomeDefInnings'] = gamelogs['VisitorOffenseInnings']
gamelogs['VisitorDefInnings'] = gamelogs['HomeOffenseInnings']

In [52]:
gamelogs[['NumHalfInnings','HomeOffenseInnings','VisitorOffenseInnings']].head(20)

    NumHalfInnings  HomeOffenseInnings  VisitorOffenseInnings
0        18.000000            9.000000                    9.0
1        17.000000            8.000000                    9.0
2        18.000000            9.000000                    9.0
3        17.000000            8.000000                    9.0
4        18.000000            9.000000                    9.0
5        18.000000            9.000000                    9.0
6        18.000000            9.000000                    9.0
7        17.000000            8.000000                    9.0
8        17.000000            8.000000                    9.0
9        18.000000            9.000000                    9.0
10       17.000000            8.000000                    9.0
11       17.000000            8.000000                    9.0
12       18.000000            9.000000                    9.0
13       17.000000            8.000000                    9.0
14       19.333333            9.333333                   10.0
15       18.000000            9.000000                    9.0
16       17.000000            8.000000                    9.0
17       17.000000            8.000000                    9.0
18       17.000000            8.000000                    9.0
19       18.000000            9.000000                    9.0

In [53]:
#create new columns with Relief Pitching Info
gamelogs['HomeReliefIP'] = gamelogs['VisitorOffenseInnings'] - gamelogs['IP_HSP']
gamelogs['VisitorReliefIP'] = gamelogs['HomeOffenseInnings'] - gamelogs['IP_VSP']

gamelogs['HomeReliefWP'] = gamelogs['VisitorWP'] - gamelogs['WP_HSP']
gamelogs['VisitorReliefWP'] = gamelogs['HomeWP'] - gamelogs['WP_VSP']

gamelogs['HomeReliefER'] = gamelogs['HomeER'] - gamelogs['ER_HSP']
gamelogs['VisitorReliefER'] = gamelogs['VisitorER'] - gamelogs['ER_VSP']

gamelogs['HomeReliefK'] = gamelogs['VisitorK'] - gamelogs['K_HSP']
gamelogs['VisitorReliefK'] = gamelogs['HomeK'] - gamelogs['K_VSP']

gamelogs['HomeReliefBB'] = gamelogs['VisitorBB'] - gamelogs['BB_HSP']
gamelogs['VisitorReliefBB'] = gamelogs['HomeBB'] - gamelogs['BB_VSP']

gamelogs['HomeReliefHBP'] = gamelogs['VisitorHBP'] - gamelogs['HBP_HSP']
gamelogs['VisitorReliefHBP'] = gamelogs['HomeHBP'] - gamelogs['HBP_VSP']

gamelogs['HomeReliefHR'] = gamelogs['VisitorHR'] - gamelogs['HR_HSP']
gamelogs['VisitorReliefHR'] = gamelogs['HomeHR'] - gamelogs['HR_VSP']

gamelogs['HomeReliefH'] = gamelogs['VisitorH'] - gamelogs['H_HSP']
gamelogs['VisitorReliefH'] = gamelogs['HomeH'] - gamelogs['H_VSP']

gamelogs['HomePitchK'] = gamelogs['VisitorK']
gamelogs['VisitorPitchK'] = gamelogs['HomeK']

gamelogs['HomeEROff'] = gamelogs['VisitorER']
gamelogs['VisitorEROff'] = gamelogs['HomeER']

In [54]:
#calculate times reaching base and plate appearances
gamelogs['HomeRB'] = gamelogs['HomeH'] + gamelogs['HomeBB'] + gamelogs['HomeHBP']
gamelogs['HomePA'] = gamelogs['HomeAB']+gamelogs['HomeBB']+gamelogs['HomeHBP']+gamelogs['HomeSF']

gamelogs['VisitorRB'] = gamelogs['VisitorH'] + gamelogs['VisitorBB'] + gamelogs['VisitorHBP']
gamelogs['VisitorPA'] = gamelogs['VisitorAB']+gamelogs['VisitorBB']+gamelogs['VisitorHBP']+gamelogs['VisitorSF']

gamelogs['HomePower'] = gamelogs['HomeD'] + 2 * gamelogs['HomeT'] + 3 * gamelogs['HomeHR']
gamelogs['VisitorPower'] = gamelogs['VisitorD'] + 2 * gamelogs['VisitorT'] + 3 * gamelogs['VisitorHR']

gamelogs['HomeBIP'] = gamelogs['HomeAB']-gamelogs['HomeK']-gamelogs['HomeHR']+gamelogs['HomeSF']+gamelogs['HomeSH']
gamelogs['VisitorBIP'] = gamelogs['VisitorAB']-gamelogs['VisitorK']-gamelogs['VisitorHR']+gamelogs['VisitorSF']+gamelogs['VisitorSH']

gamelogs['HomePitchBIP'] = gamelogs['VisitorBIP']
gamelogs['VisitorPitchBIP'] = gamelogs['HomeBIP']

#hits allowed by defense
gamelogs['HomeDefHminusHR'] = gamelogs['VisitorH']- gamelogs['VisitorHR']
gamelogs['VisitorDefHminusHR'] = gamelogs['HomeH'] - gamelogs['HomeHR']

In [55]:
gamelogs.rename(columns = {'HomeRunsScore': 'HomeRunsScored'}, inplace=True)
gamelogs['HomeRunDiff'] = gamelogs['HomeRunsScored'] - gamelogs['VisitorRunsScored']
gamelogs['VisitorRunDiff'] = -1*gamelogs['HomeRunDiff']

In [56]:
gamelogs = gamelogs.drop(['HomeOBP','VisitOBP'], axis=1)

In [57]:
home_idx1 = gamelogs.columns.get_loc('HomeAB')
home_idx2 = gamelogs.columns.get_loc('HomeTP')
print(home_idx1)
print(home_idx2)
cols1 = gamelogs[['HomeRunsScored', 'HomeEROff']]
cols2 = gamelogs.iloc[:, home_idx1 : home_idx2+1]
HomeRelCols = [col for col in gamelogs.columns if col.startswith('HomeRelief')]
cols3 = gamelogs[HomeRelCols]
cols4 = gamelogs[['HomeOffenseInnings','HomeDefInnings','HomeRB','HomePA', 'HomePower', 'HomeBIP', 'HomePitchBIP','HomeDefHminusHR','HomeRunDiff']]
cols = pd.concat([cols1,cols2,cols3, cols4], axis=1)
cols.columns

49
76

Index(['HomeRunsScored', 'HomeEROff', 'HomeAB', 'HomeH', 'HomeD', 'HomeT',
       'HomeHR', 'HomeRBI', 'HomeSH', 'HomeSF', 'HomeHBP', 'HomeBB', 'HomeIBB',
       'HomeK', 'HomeSB', 'HomeCS', 'HomeGDP', 'HomeCI', 'HomeLOB',
       'HomePitchers', 'HomeER', 'HomeTER', 'HomeWP', 'HomeBalks', 'HomePO',
       'HomeA', 'HomeE', 'HomePassed', 'HomeDB', 'HomeTP', 'HomeReliefIP',
       'HomeReliefWP', 'HomeReliefER', 'HomeReliefK', 'HomeReliefBB',
       'HomeReliefHBP', 'HomeReliefHR', 'HomeReliefH', 'HomeOffenseInnings',
       'HomeDefInnings', 'HomeRB', 'HomePA', 'HomePower', 'HomeBIP',
       'HomePitchBIP', 'HomeDefHminusHR', 'HomeRunDiff'],
      dtype='object')

In [58]:
#calculate team averages
for home_col in cols.columns:
    stat = home_col[4:]
    visit_col = 'Visitor' + stat
    melted = melt_gamelogs([home_col, visit_col])  
    melted['stat'] = relavent_team_stat(melted, home_col, visit_col)
    melted = melted.sort_values(['Team','Date'])
    new_col = 'Avg' + stat
    melted_grpd = melted.groupby(['Team', melted['Date'].dt.year])
    melted[new_col] = melted_grpd['stat'].apply(calculate_teamavg)
    melted[new_col] = fill_with_EOPS_data(melted_grpd, melted, 'stat', 'Team', new_col, 4, 1)
    #fill second start of season with avg of end of prior season and first game
    melted[new_col] = fill_2ndand3rd_game(melted_grpd, melted, 'stat', new_col, 'Team')
    #melted[new_col] = melted.groupby('Team')[new_col].fillna(method='ffill')                                                                                   
    melted = melted[['Date','DoubleHeader','Team',new_col]]                                                                                
    gamelogs = merge_twice(gamelogs, melted, 'HomeTeam', 'VisitingTeam', 'Team')

In [59]:
gamelogs.tail()

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,Team_V,AvgPitchBIP_V,Team_H,AvgDefHminusHR_H,Team_V,AvgDefHminusHR_V,Team_H,AvgRunDiff_H,Team_V,AvgRunDiff_V
24293,2018-09-30,0,Sun,CHA,AL,162,MIN,AL,162,4,...,CHA,25.559006,MIN,7.577640,CHA,7.472050,MIN,-0.236025,CHA,-1.186335
24294,2018-09-30,0,Sun,TEX,AL,162,SEA,AL,162,1,...,TEX,26.701863,SEA,7.440994,TEX,7.993789,SEA,-0.223602,TEX,-0.677019
24295,2018-09-30,0,Sun,TOR,AL,162,TBA,AL,162,4,...,TOR,25.521739,TBA,6.602484,TOR,7.813665,TBA,0.403727,TOR,-0.732919
24296,2018-10-01,0,Mon,MIL,NL,163,CHN,NL,163,3,...,MIL,23.938272,CHN,7.098765,MIL,6.691358,CHN,0.728395,MIL,0.574074
24297,2018-10-01,0,Mon,COL,NL,163,LAN,NL,163,2,...,COL,24.438272,LAN,6.777778,COL,7.320988,LAN,1.179012,COL,0.234568

In [60]:
#OBP
gamelogs['AvgOBP_H'] = gamelogs['AvgRB_H']/gamelogs['AvgPA_H']
gamelogs['AvgOBP_V'] = gamelogs['AvgRB_V']/gamelogs['AvgPA_V']

#isolated power
gamelogs['AvgISO_H'] = gamelogs['AvgPower_H']/gamelogs['AvgAB_H']
gamelogs['AvgISO_V'] = gamelogs['AvgPower_V']/gamelogs['AvgAB_V']

#Offense earned runs scored per 9 innings
gamelogs['AvgOffERunsPer9Inn_H'] = gamelogs['AvgEROff_H'] * 9 / gamelogs['AvgOffenseInnings_H']
gamelogs['AvgOffERunsPer9Inn_V'] = gamelogs['AvgEROff_V'] * 9 / gamelogs['AvgOffenseInnings_V']

#Relief ERA
gamelogs['AvgReliefERA_H'] = gamelogs['AvgReliefER_H'] * 9 / gamelogs['AvgReliefIP_H']
gamelogs['AvgReliefERA_V'] = gamelogs['AvgReliefER_V'] * 9 / gamelogs['AvgReliefIP_V']

#Relief FIP no Constant
gamelogs['FIPnumerator_H'] = 13*gamelogs['AvgReliefHR_H'] + 3*(gamelogs['AvgReliefBB_H']+gamelogs['AvgReliefHBP_H']) - 2*gamelogs['AvgReliefK_H']
gamelogs['AvgRelFIPnoConst_H'] = gamelogs['FIPnumerator_H']/gamelogs['AvgReliefIP_H']
gamelogs['FIPnumerator_V'] = 13*gamelogs['AvgReliefHR_V'] + 3*(gamelogs['AvgReliefBB_V']+gamelogs['AvgReliefHBP_V']) - 2*gamelogs['AvgReliefK_V']
gamelogs['AvgRelFIPnoConst_V'] = gamelogs['FIPnumerator_V']/gamelogs['AvgReliefIP_V']

#BABIP - (H - HR)/(AB - K - HR + SF + SH)
gamelogs['AvgBABIP_H'] = (gamelogs['AvgH_H']-gamelogs['AvgHR_H'])/gamelogs['AvgBIP_H']
gamelogs['AvgBABIP_V'] = (gamelogs['AvgH_V']-gamelogs['AvgHR_V'])/gamelogs['AvgBIP_V']

#Pitcher BABIP - outs per ba ball in play
gamelogs['AvgPitchBABIP_H'] = gamelogs['AvgDefHminusHR_H']/gamelogs['AvgPitchBIP_H']
gamelogs['AvgPitchBABIP_V'] = gamelogs['AvgDefHminusHR_V']/gamelogs['AvgPitchBIP_V']

#Avg assists per 9 innings
gamelogs['AvgAper9_H'] = gamelogs['AvgA_H']*9/gamelogs['AvgDefInnings_H']
gamelogs['AvgAper9_V'] = gamelogs['AvgA_V']*9/gamelogs['AvgDefInnings_V']

In [61]:
gamelogs.Attendance.head()

0    44532.0
1    48799.0
2    42177.0
3    34323.0
4    43827.0
Name: Attendance, dtype: float64

In [62]:
byparkyear = gamelogs.groupby(['ParkID',gamelogs['Date'].dt.year])
byHomeyear = gamelogs.groupby(['HomeTeam',gamelogs['Date'].dt.year])

gamelogs['AvgAttendance'] = byparkyear['Attendance'].apply(lambda x: x.expanding().mean().shift())
gamelogs['AvgAttendance'] = gamelogs.groupby('ParkID')['AvgAttendance'].fillna(method='ffill')
gamelogs['temp'] = byHomeyear['Attendance'].apply(lambda x: x.expanding().mean().shift())
gamelogs['temp'] = gamelogs.groupby('HomeTeam')['AvgAttendance'].fillna(method='ffill')
gamelogs['AvgAttendance'] = gamelogs['AvgAttendance'].fillna(gamelogs['temp'])
gamelogs.drop('temp', axis=1,inplace=True)

In [63]:
gamelogs[['Date','HomeTeam','AvgAttendance']].tail()

            Date HomeTeam  AvgAttendance
24293 2018-09-30      MIN   24544.743109
24294 2018-09-30      SEA   28479.287500
24295 2018-09-30      TBA   14270.750000
24296 2018-10-01      CHN   38798.012346
24297 2018-10-01      LAN   47033.135802

In [64]:
gamelogs.columns

Index(['Date', 'DoubleHeader', 'DayOfWeek', 'VisitingTeam',
       'VisitingTeamLeague', 'VisitingTeamGameNumber', 'HomeTeam',
       'HomeTeamLeague', 'HomeTeamGameNumber', 'VisitorRunsScored',
       ...
       'AvgRelFIPnoConst_H', 'FIPnumerator_V', 'AvgRelFIPnoConst_V',
       'AvgBABIP_H', 'AvgBABIP_V', 'AvgPitchBABIP_H', 'AvgPitchBABIP_V',
       'AvgAper9_H', 'AvgAper9_V', 'AvgAttendance'],
      dtype='object', length=443)

In [65]:
gamelogs = gamelogs.drop(['Team_V', 'Team_H'], axis=1)
gamelogs.shape

(24298, 349)

In [66]:
gamelogs['VisitorWin'] = np.abs(1-gamelogs['HomeWin'])

/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
gamelogs[['HomeWin','VisitorWin']].head(10)

   HomeWin  VisitorWin
0        0           1
1        1           0
2        0           1
3        1           0
4        0           1
5        0           1
6        0           1
7        1           0
8        1           0
9        0           1

In [68]:
byHteamyear = gamelogs.groupby(['HomeTeam', gamelogs['Date'].dt.year])
byAteamyear = gamelogs.groupby(['VisitingTeam', gamelogs['Date'].dt.year])
gamelogs['AvgRunDiffAtHome_H'] = byHteamyear['HomeRunDiff'].apply(calculate_teamavg)
gamelogs['AvgRunDiffOnRoad_V'] = byAteamyear['VisitorRunDiff'].apply(calculate_teamavg)
gamelogs['pctWinAtHome_H'] = byHteamyear['HomeWin'].apply(calculate_teamavg)
gamelogs['pctWinOnRoad_V'] = byAteamyear['VisitorWin'].apply(calculate_teamavg)

/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
for avg_col in ['AvgRunDiffAtHome_H','AvgRunDiffOnRoad_V','pctWinAtHome_H','pctWinOnRoad_V']:
    if avg_col.endswith('_H'):
        team = 'Home'
        col_to_groupby = 'HomeTeam'
    else: 
        team = 'Visitor'
        col_to_groupby = 'VisitingTeam'
    if avg_col.startswith('pct'):
        stat = 'Win'
    else:
        stat = 'RunDiff'
    col = team + stat
    grouped_df = gamelogs.groupby([col_to_groupby, gamelogs['Date'].dt.year])
    gamelogs[avg_col] = fill_with_EOPS_data(grouped_df, gamelogs, col, col_to_groupby, avg_col, 4, 1)
    gamelogs[avg_col] = fill_2ndand3rd_game(grouped_df, gamelogs, col, avg_col, col_to_groupby)

/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sineadoconnor/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [70]:
gamelogs[['AvgRunDiffAtHome_H','AvgRunDiffOnRoad_V','pctWinAtHome_H','pctWinOnRoad_V']].describe()

       AvgRunDiffAtHome_H  AvgRunDiffOnRoad_V  pctWinAtHome_H  pctWinOnRoad_V
count        24208.000000        24208.000000    24208.000000    24208.000000
mean             0.115918           -0.120507        0.531998        0.468115
std              1.069690            1.105634        0.122217        0.120694
min             -8.333333           -8.193416        0.000000        0.000000
25%             -0.513514           -0.762054        0.461538        0.397059
50%              0.120000           -0.093750        0.534247        0.467742
75%              0.741518            0.500000        0.607595        0.535714
max              7.909465            8.333333        1.000000        1.000000

In [71]:
gamelogs[['AvgRunDiffAtHome_H','AvgRunDiffOnRoad_V','pctWinAtHome_H','pctWinOnRoad_V']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24298 entries, 0 to 24297
Data columns (total 4 columns):
AvgRunDiffAtHome_H    24208 non-null float64
AvgRunDiffOnRoad_V    24208 non-null float64
pctWinAtHome_H        24208 non-null float64
pctWinOnRoad_V        24208 non-null float64
dtypes: float64(4)
memory usage: 1.6 MB

Each team's first 3 home games and first 3 away games of the 2009 season should be null. 30*3 = 90 - 90 null in Home cols and 90 null in Away cols

In [72]:
nulls = gamelogs[(gamelogs['AvgRunDiffAtHome_H'].isnull())|(gamelogs['AvgRunDiffOnRoad_V'].isnull())]
teams = nulls['VisitingTeam'].append(nulls['HomeTeam'])
teams.value_counts()

NYA    12
SFN    12
SLN    10
ARI     9
SEA     9
CHN     9
CLE     9
TEX     9
ANA     9
CHA     9
WAS     9
MIL     9
ATL     9
HOU     9
SDN     9
PHI     8
DET     8
COL     8
TBA     7
FLO     7
KCA     6
PIT     6
CIN     6
BAL     6
OAK     6
LAN     6
TOR     6
BOS     6
NYN     6
MIN     6
dtype: int64

In [73]:
nulls.tail()

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,AvgPitchBABIP_H,AvgPitchBABIP_V,AvgAper9_H,AvgAper9_V,AvgAttendance,VisitorWin,AvgRunDiffAtHome_H,AvgRunDiffOnRoad_V,pctWinAtHome_H,pctWinOnRoad_V
146,2009-04-17,0,Fri,FLO,NL,10,WAS,NL,9,3,...,0.316964,0.286885,10.425743,9.555556,30440.0,1,NaN,4.666667,NaN,1.000000
149,2009-04-17,0,Fri,CLE,AL,11,NYA,AL,11,5,...,0.304348,0.330798,9.000000,8.152941,48271.0,0,NaN,-2.000000,NaN,0.285714
160,2009-04-18,0,Sat,ARI,NL,11,SFN,NL,11,2,...,0.308642,0.269784,7.577075,10.800000,37114.0,1,2.5,NaN,0.75,NaN
164,2009-04-18,0,Sat,CLE,AL,12,NYA,AL,12,22,...,0.307971,0.314685,9.094737,8.032258,46686.0,1,NaN,-1.875000,NaN,0.250000
174,2009-04-19,0,Sun,ARI,NL,12,SFN,NL,12,0,...,0.312977,0.274834,7.714286,10.636364,37173.0,0,1.6,NaN,0.60,NaN

In [74]:
#check that it worked
RS = gamelogs[(gamelogs['HomeTeam']=='BOS') | (gamelogs['VisitingTeam']=='BOS')].sort_values('Date')
RS_H = RS[['Date', 'HomeTeam', 'VisitingTeam','HomeH','AvgH_H','VisitorH', 'AvgH_V']]
RS_H.iloc[155:170,:]

           Date HomeTeam VisitingTeam  HomeH     AvgH_H  VisitorH     AvgH_V
2338 2009-09-28      BOS          TOR      7   9.219355        14   9.282051
2351 2009-09-29      BOS          TOR     14   9.205128        11   9.312102
2367 2009-09-30      BOS          TOR      3   9.235669        17   9.322785
2380 2009-10-01      BOS          CLE     12   9.196203         3   9.107595
2393 2009-10-02      BOS          CLE      8   9.213836         8   9.069182
2408 2009-10-03      BOS          CLE     11   9.206250        10   9.062500
2423 2009-10-04      BOS          CLE     11   9.217391         8   9.068323
2430 2010-04-04      BOS          NYA     12   9.228395        12   9.901235
2445 2010-04-06      BOS          NYA      9  10.614198         9  10.950617
2452 2010-04-07      BOS          NYA      7  10.076132         6  10.300412
2481 2010-04-09      KCA          BOS      8   9.000000         9   9.333333
2496 2010-04-10      KCA          BOS      9   8.750000        12   9.250000
2511 2010-04-11      KCA          BOS     10   8.800000        12   9.800000
2525 2010-04-12      MIN          BOS     12   8.428571         7  10.166667
2546 2010-04-14      MIN          BOS      9   8.875000        10   9.714286

In [75]:
gamelogs = gamelogs.replace(np.inf,np.nan)

In [76]:
rel_cols = [col for col in gamelogs.columns if col.startswith(('pct','Avg'))]
gamelogs[rel_cols].shape

(24298, 149)

In [77]:
gamelogs[rel_cols].iloc[:,:60].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24298 entries, 0 to 24297
Data columns (total 60 columns):
pctCG_HSP            24224 non-null float64
pctGF_HSP            24224 non-null float64
pctW_HSP             24224 non-null float64
pctL_HSP             24224 non-null float64
pctSho_HSP           24224 non-null float64
AvgIP_HSP            24224 non-null float64
AvgH_HSP             24224 non-null float64
AvgR_HSP             24224 non-null float64
AvgER_HSP            24224 non-null float64
AvgHR_HSP            24224 non-null float64
AvgBB_HSP            24224 non-null float64
AvgK_HSP             24224 non-null float64
AvgHBP_HSP           24224 non-null float64
AvgBK_HSP            24224 non-null float64
AvgWP_HSP            24224 non-null float64
AvgERA_HSP           24224 non-null float64
AvgFIPnoConst_HSP    24224 non-null float64
pctCG_VSP            24222 non-null float64
pctGF_VSP            24222 non-null float64
pctW_VSP             24222 non-null float64
pctL_VSP             24222 non-null float64
pctSho_VSP           24222 non-null float64
AvgIP_VSP            24222 non-null float64
AvgH_VSP             24222 non-null float64
AvgR_VSP             24222 non-null float64
AvgER_VSP            24222 non-null float64
AvgHR_VSP            24222 non-null float64
AvgBB_VSP            24222 non-null float64
AvgK_VSP             24222 non-null float64
AvgHBP_VSP           24222 non-null float64
AvgBK_VSP            24222 non-null float64
AvgWP_VSP            24222 non-null float64
AvgERA_VSP           24222 non-null float64
AvgFIPnoConst_VSP    24222 non-null float64
AvgRunsScored_H      24253 non-null float64
AvgRunsScored_V      24253 non-null float64
AvgEROff_H           24253 non-null float64
AvgEROff_V           24253 non-null float64
AvgAB_H              24253 non-null float64
AvgAB_V              24253 non-null float64
AvgH_H               24253 non-null float64
AvgH_V               24253 non-null float64
AvgD_H               24253 non-null float64
AvgD_V               24253 non-null float64
AvgT_H               24253 non-null float64
AvgT_V               24253 non-null float64
AvgHR_H              24253 non-null float64
AvgHR_V              24253 non-null float64
AvgRBI_H             24253 non-null float64
AvgRBI_V             24253 non-null float64
AvgSH_H              24253 non-null float64
AvgSH_V              24253 non-null float64
AvgSF_H              24253 non-null float64
AvgSF_V              24253 non-null float64
AvgHBP_H             24253 non-null float64
AvgHBP_V             24253 non-null float64
AvgBB_H              24253 non-null float64
AvgBB_V              24253 non-null float64
AvgIBB_H             24253 non-null float64
AvgIBB_V             24253 non-null float64
dtypes: float64(60)
memory usage: 11.9 MB

In [78]:
gamelogs[rel_cols].iloc[:,60:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24298 entries, 0 to 24297
Data columns (total 89 columns):
AvgK_H                  24253 non-null float64
AvgK_V                  24253 non-null float64
AvgSB_H                 24253 non-null float64
AvgSB_V                 24253 non-null float64
AvgCS_H                 24253 non-null float64
AvgCS_V                 24253 non-null float64
AvgGDP_H                24253 non-null float64
AvgGDP_V                24253 non-null float64
AvgCI_H                 24253 non-null float64
AvgCI_V                 24253 non-null float64
AvgLOB_H                24253 non-null float64
AvgLOB_V                24253 non-null float64
AvgPitchers_H           24253 non-null float64
AvgPitchers_V           24253 non-null float64
AvgER_H                 24253 non-null float64
AvgER_V                 24253 non-null float64
AvgTER_H                24253 non-null float64
AvgTER_V                24253 non-null float64
AvgWP_H                 24253 non-null float64
AvgWP_V                 24253 non-null float64
AvgBalks_H              24253 non-null float64
AvgBalks_V              24253 non-null float64
AvgPO_H                 24253 non-null float64
AvgPO_V                 24253 non-null float64
AvgA_H                  24253 non-null float64
AvgA_V                  24253 non-null float64
AvgE_H                  24253 non-null float64
AvgE_V                  24253 non-null float64
AvgPassed_H             24253 non-null float64
AvgPassed_V             24253 non-null float64
AvgDB_H                 24253 non-null float64
AvgDB_V                 24253 non-null float64
AvgTP_H                 24253 non-null float64
AvgTP_V                 24253 non-null float64
AvgReliefIP_H           24253 non-null float64
AvgReliefIP_V           24253 non-null float64
AvgReliefWP_H           24253 non-null float64
AvgReliefWP_V           24253 non-null float64
AvgReliefER_H           24253 non-null float64
AvgReliefER_V           24253 non-null float64
AvgReliefK_H            24253 non-null float64
AvgReliefK_V            24253 non-null float64
AvgReliefBB_H           24253 non-null float64
AvgReliefBB_V           24253 non-null float64
AvgReliefHBP_H          24253 non-null float64
AvgReliefHBP_V          24253 non-null float64
AvgReliefHR_H           24253 non-null float64
AvgReliefHR_V           24253 non-null float64
AvgReliefH_H            24253 non-null float64
AvgReliefH_V            24253 non-null float64
AvgOffenseInnings_H     24253 non-null float64
AvgOffenseInnings_V     24253 non-null float64
AvgDefInnings_H         24253 non-null float64
AvgDefInnings_V         24253 non-null float64
AvgRB_H                 24253 non-null float64
AvgRB_V                 24253 non-null float64
AvgPA_H                 24253 non-null float64
AvgPA_V                 24253 non-null float64
AvgPower_H              24253 non-null float64
AvgPower_V              24253 non-null float64
AvgBIP_H                24253 non-null float64
AvgBIP_V                24253 non-null float64
AvgPitchBIP_H           24253 non-null float64
AvgPitchBIP_V           24253 non-null float64
AvgDefHminusHR_H        24253 non-null float64
AvgDefHminusHR_V        24253 non-null float64
AvgRunDiff_H            24253 non-null float64
AvgRunDiff_V            24253 non-null float64
AvgOBP_H                24253 non-null float64
AvgOBP_V                24253 non-null float64
AvgISO_H                24253 non-null float64
AvgISO_V                24253 non-null float64
AvgOffERunsPer9Inn_H    24253 non-null float64
AvgOffERunsPer9Inn_V    24253 non-null float64
AvgReliefERA_H          24253 non-null float64
AvgReliefERA_V          24253 non-null float64
AvgRelFIPnoConst_H      24253 non-null float64
AvgRelFIPnoConst_V      24253 non-null float64
AvgBABIP_H              24253 non-null float64
AvgBABIP_V              24253 non-null float64
AvgPitchBABIP_H         24253 non-null float64
AvgPitchBABIP_V         24253 non-null float64
AvgAper9_H              24253 non-null float64
AvgAper9_V              24253 non-null float64
AvgAttendance           24268 non-null float64
AvgRunDiffAtHome_H      24208 non-null float64
AvgRunDiffOnRoad_V      24208 non-null float64
pctWinAtHome_H          24208 non-null float64
pctWinOnRoad_V          24208 non-null float64
dtypes: float64(89)
memory usage: 17.3 MB

In [79]:
gamelogs.head()

,Date,DoubleHeader,DayOfWeek,VisitingTeam,VisitingTeamLeague,VisitingTeamGameNumber,HomeTeam,HomeTeamLeague,HomeTeamGameNumber,VisitorRunsScored,...,AvgPitchBABIP_H,AvgPitchBABIP_V,AvgAper9_H,AvgAper9_V,AvgAttendance,VisitorWin,AvgRunDiffAtHome_H,AvgRunDiffOnRoad_V,pctWinAtHome_H,pctWinOnRoad_V
0,2009-04-05,0,Sun,ATL,NL,1,PHI,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1,2009-04-06,0,Mon,COL,NL,1,ARI,NL,1,8,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2009-04-06,0,Mon,NYN,NL,1,CIN,NL,1,2,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,2009-04-06,0,Mon,WAS,NL,1,FLO,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2009-04-06,0,Mon,CHN,NL,1,HOU,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN

Ready to pickle and move on to Inferential Statistics!

In [80]:
outfile = open('../PickledFiles/gamelogs3', 'wb')
pickle.dump(gamelogs, outfile)
outfile.close()